<%= form_for @hostprofile do |f| %>
  <%= render "shared/error_messages", :obj=> @hostprofile %>
  <%= render "#{@hostprofile.current_step}", :f => f %>
     
 <div class="row">
   <%= f.submit "back", name: "back_button", id: "blue-button" unless @hostprofile.first_step? %>
   <%= f.submit "next", name: "next_button", id: "blue-button" %>     
 </div>
   
<% end %>