<%= form_for(@hostprofile) do |f| %>
  <div class="field">
    <%= f.label :telephone %><br />
    <%= f.text_field :tele %>
  </div>
  <div class="field">
    <%= f.label :Service_Description %><br />
    <%= f.text_field :serviceDesc %>
  </div>
  <div class="field">
    <%= f.label :about_me %><br />
    <%= f.text_field :aboutme %>
  </div>
  <div class="field">
    <%= f.label :price %><br />
    <%= f.text_field :price %>
  </div>
  <div class="field">
    <%= f.label :green_description %><br />
    <%= f.text_field :greenDesc %>
  </div>
  <div class="actions">
    <%= f.submit  "create host profile", class: "btn btn-large btn-primary" %>
  </div>
<% end %>