<h3 class="row">Host information</h3><br/>
<div class="row">
   <div class="edit-section">
      <div class="field" id="personalform">
        <%= f.label :where_do_you_live? %>
        <%= render 'shared/country_city_select', :f => f, :inline_search => false %>
      </div>
      <div class="field" id="personalform">
         <%= f.label :telephone %>
         <%= f.text_field :tele, :value => @hostprofile.tele %>
      </div>
      <% if @user.languages.nil? || @user.languages.empty? %>
      <div id="personalform" style="margin-top:15px">
         <%= f.label :enter_the_languages_you_can_hold_a_conversation_in %>
      </div>
         <%= f.text_field :language_tokens, data: {load: Language.prefill_languages(@user.languages)} %>
      <br/>
      <% end %>
      <% if @user.self_intro.nil? || @user.self_intro.empty? %>
      <div id="personalform" style="margin-top:15px">
         <%= f.label :tell_us_a_bit_about_yourself %>
         <%= f.text_area :selfintro%>
      </div>
      
      <br/>
      <% end %>
      <div class="edit_link" id="personalform">
         <%= f.label :what_type_of_service_are_you_providing? %>  
         <% selected = @hostprofile.service || Service.first.id %>
         <%= f.collection_select :service, Service.all, :id, :title, :selected=>selected %>  <%= link_to "see description", '#', class:"lighter", id: "host_description", data: {:url=> url_for(hostduty_path(anchor: 'host_duty'))} %>       
      </div>  
      
      <div class="field" id="personalform">
         <%= f.label :exchanging_service_for %>
         <% selected = @hostprofile.exchange_type || "money"%>
         <%= f.select :exchange_type, Hostprofile::EXCHANGE_TYPES, {}, :selected=>selected, :style=>"width:200px"%>
         <% price_opt_visibility = (selected=="money") ? "block" : "none" %>
         <% lang_opt_visibility = (selected=="language practice") ? "block" : "none" %>
         <div id="price_opt" class="field" style= "<%= "display: #{price_opt_visibility}" %>" >
            <%= f.text_field :price, :placeholder=>"enter price" %>
            <%= f.select :currency, options_for_select(Hostprofile::CURRENCIES, selected: "usd"), :id => "currency" %> <br/>
            <%= f.label :What_does_your_price_cover %>
                 <div style="width: 600px">
                     <small id="light">If you selected money as your exchange type. Please tell the traveler what the amount will cover.</small>
                 </div>
                 <%= f.text_area :money_cover %>
         </div> 
         <% @languages = Language.order(:name)%>           
           <div id="lang_opt" class="field" style= "<%= "display: #{lang_opt_visibility}" %>" >
             <%= f.collection_select :language_practice, @languages, :name, :name, {:include_blank => "select a language"}, {selected: @hostprofile.language_practice} %> 
           </div>
      </div>
   </div>
</div>
