<h3 class="row">Host information</h3>
<div class="row host_info">
   <div class="edit-section">
      <div class="field" id="personalform">
        <%= render 'shared/country_city_select', :f => f, :inline_search => false %>
      </div>
      <div class="field" id="personalform">
         <%= f.label :telephone %>
         <%= f.text_field :tele, :value => @hostprofile.tele %>
      </div>
      <% if @user.languages.nil? || @user.languages.empty? %>
      <div class="field">
         <%= f.label :enter_the_languages_you_can_hold_a_conversation_in %>
         <%= f.text_field :language_tokens, data: {load: Language.prefill_languages(@user.languages)} %>
      </div>
      <br/>
      
      <% end %>
      <div class="field" id="personalform">
         <%= f.label :what_type_of_service_are_you_providing? %>
         <% selected = @hostprofile.service || Service.first.id %>
         <%= f.collection_select :service, Service.all, :id, :title, :selected=>selected %>       
      </div>  
      <div class="field" id="personalform" style="color:#5EB038; height:30px; border-radius:3px; margin-top:-10px; width:400px">
         <i class="icon-info-sign"></i>
         <small id="service_desc">
            <%= Service.find_by_id(selected).try(:desc) %>
         </small>
      </div>
      <br>
      <div class="field" id="personalform">
         <%= f.label :exchanging_service_for %>
         <% selected = @hostprofile.exchange_type || "money"%>
         <%= f.select :exchange_type, Hostprofile::EXCHANGE_TYPES, {}, :selected=>selected, :style=>"width:200px"%>
         <% price_opt_visibility = (selected=="money") ? "block" : "none" %>
         <% lang_opt_visibility = (selected=="language practice") ? "block" : "none" %>
         <div id="price_opt" class="field" style= "<%= "display: #{price_opt_visibility}" %>" >
            <%= f.text_field :price, :placeholder=>"enter price" %>
            <%= f.select :currency, options_for_select(Hostprofile::CURRENCIES, selected: "usd"), :id => "currency" %>
         </div> 
         <% @languages = Language.order(:name)%>           
           <div id="lang_opt" class="field" style= "<%= "display: #{lang_opt_visibility}" %>" >
             <%= f.collection_select :language_practice, @languages, :name, :name, {:include_blank => "select a language"}, {selected: @hostprofile.language_practice} %> 
           </div>
      </div>
   </div>
</div>
