<!-- TODO: render the complete hostprofile -->
	
	<span class="content"> 
		<br>
		<div> About me </div>
		<p> <%= hostprofile.aboutme %> </p>
		Service Description <br>
		<p> <%= hostprofile.serviceDesc %> </p>
		Price <br>
		<p> <%= hostprofile.price %> </p>
		<div id="name">
		   Languages <%= "#{hostprofile.languages.count}" %>
		   <% hostprofile.languages.each do |lan|%>
		   <div id="name">
		    <%=" #{lan}" %>
		   </div>
		   <% end %>
		</div>
	</span>