<h3 class="row">Service details </h3>  
<div class="row host_info"> 
<div class="edit-section">
   <div class="field" id="personalform">
      <small> <%= f.label :provide_a_140_character_intro_for_your_search_badge %> </small>
      <%= f.text_area :intro %>
    </div>
     <div class="field" id="personalform">
       <%= f.label :Service_Description %>
       <%= f.text_area :serviceDesc, :toolbar=>'Basic' %>
     </div>
     <div class="field" id="personalform">
       <%= f.label :green_description %>
       <%= f.text_area :greenDesc, :toolbar=>'Basic' %>
     </div>
</div>
</div>
  