<div class="span10">
   
   <div class="row vertical-align:middle">
      <%= image_tag find_display_imgurl(@user.id, "thumb"), id: "profile-thumb" %>	  
      <strong style="margin-left:10px">Your hostprofile</strong>
   </div>
   <div class="filler"></div>
   <div class="row">
      <%= render 'shared/edit_tabs'%>
   </div>

   <div class="row host_info">
      <%if @user.is_host?%>
      <div class="edit-section">
      By removing your host status, we will erase all of your host profile information from our system. Should you ever want to become host again, you will have to re-enter all your information. Click the red button to proceed.
         <div id="name" style="text-align: right; height: 45px">
            <%= button_to 'Remove my host status', hostprofile_path(@hostprofile), method: "delete", :class => "btn btn-large btn-danger" %>
         </div>
      </div>	
   	<% end %>
   </div>
     
   <div class="filler"></div>
   
   <%= form_for @hostprofile do |f| %>
         <%= render "shared/error_messages", :obj=> @hostprofile %>
         
         <%= render 'shared/host_information', :f => f%>
         <br>
         <%= render 'shared/service_information', :f => f%>
        <div class="row">
        <p><%= f.submit 'update', id: "pink-button"%></p>
   </div>
   <% end %>
</div>

