<% provide(:title, params[:folder]) %>
<%= render 'shared/mailbox_nav' %>

<div class="span11">    
   <div class="row" style="border-color:#F5FFF0">      
   	<div class="span1" style="margin-left:0px">
         <%= link_to image_tag(find_display_imgurl(@recipient.id, "thumb"), id:"profile-thumb"), user_path(@recipient) %>  	   
   	</div>
   	<div class="span6" style="padding-left:10px">
   	   <p style="font-size:1.1em"> <i style="color: #00D66F" class="icon-user"></i>
         <%= link_to @recipient.firstname.capitalize, user_path(@recipient) %></p>
   	   <p style="font-size:1.3em"> <%= @thread.subject.capitalize %> </p>          
   	</div><br>      
   </div>
   
   <div class="filler"></div>
   
   
   <div class="row edit_link " style="text-align:right">
      <a href="#reply">Reply</a>
   </div>
   
   <div class="row" style="margin-top: 15px; background-color:#F5F2E9">
      
      <div class="span10 email">
      <% @messages.each do |msg| %>
   	   <li class="thread">
   	      <div class="row" style="text-align:right">
	            <span class="timestamp">
               <% if msg.created_at < Date.today %>
                  <%= msg.created_at.strftime("%a, %b %d") %>  
               <% else %>
               	<%= msg.created_at.strftime("%I:%M %p") %>    
               <% end %>
               </span>
	         </div>
   	      <div class="span1" %>         	   
   	         <%= image_tag find_display_imgurl(msg.sender_id, "thumb"), id: "profile-thumb" %>	
   	      </div>
   	      <div class="span9" style="padding-left:15px">
               <div id="name">
                  <%= simple_format(msg.body) %> 
               </div>
   	       </div>
   	    </li>
      <% end %>
     </div>     
   </div>   
   
   <a name="reply"></a>
   
   <div class="row" id="messageform">
	   <% @message = Message.new%>
		<%= form_for([@recipient, @message]) do |f| %>
			   <%= f.text_area :body, placeholder: "Your message..." %>
				<%= f.hidden_field :subject, value: "Re: #{@thread.subject}" %>
				<%= f.hidden_field :thread_id, value: @thread.id%>
				<br>
		      <%= f.submit "Reply", id: "blue-button" %>			
		<% end %>
   </div>
</div>
