
<div class="span8 signup-block">
   <div class="row">
      <div class="span3 offset1">
         <b><h3>Sign in</h3><b>
      </div>
   </div>
     
   <div class="row">
      <br>
      <div class="span3 offset1">
         <%= form_for(:session, :url=> sessions_path) do |f| %>
      		<div id="personalform" >
      		   <%= f.label :email, :style=>"color:#ddd" %>
         		<%= f.text_field :email%>
         		<%= f.label :password, :style=>"color:#ddd" %>
         		<%= f.password_field :password %>
      		</div>

<br>
      		<%= f.submit "Sign In", id: "blue-button"%>
      	<% end %>
      </div>
   	
   	<div class="span3">
         <div id="signup">
             <p style="font-size:1.2em"> Don't have an account? </p>
             <div class="filler"></div><br>
             <%= link_to "Join TiniHost!", signup_path, id: "pink-button" %>
         </div>
      </div>
   </div>
</div>