<div style="height: 100px"></div>
<div class="span6 offset3">
	<%= form_for(:session, :url=> sessions_path) do |f| %>
		<%= f.label :email %>
		<%= f.text_field :email%>
		
		<%= f.label :password %>
		<%= f.password_field :password %>
		
		<%= f.submit "sign in", :class => "btn btn-large btn-primary"%>
	<% end %>
	
	<p> Don't have an account? <%= link_to "Sign up now!", signup_path %> </p>
	
</div>