
<div class="span8 signup-block">
   <div class="row">
      <div class="span2 offset1">
         <b><h3>Sign in</h3></b>
      </div>
   </div>
     
   <div class="row">
      <br>
      <div class="span3 offset1">
         <%= form_for(:session, :url=> sessions_path) do |f| %>
      		<div id="personalform" >
      		   <%= f.label :email, :style=>"color:#ddd" %>
         		<%= f.text_field :email%>
         		<%= f.label :password, :style=>"color:#ddd" %>
         		<%= f.password_field :password %>
      		</div>

<br>
      		<%= f.submit "Sign In", id: "blue-button"%>
            
      	<% end %>
      </div>
   	
   	<div class="span4">  
         <div id="signup">
            <b id="white"> Don't have an account?</b> <%= link_to "Sign up here", signup_path, class: "lighter" %><br/></p>
         	<br/> 
            <h4>OR </h4>
            <br/>
      		<div id="fb-hover">
                <%= link_to image_tag("fb_login.png", alt: "facebook login", id: "fb-login"), "/auth/facebook" %>    
            </div>
            <br/>
             <p style="font-size:12px; margin-top:10px">By signing up, you are agreeing to our <br/><%= link_to "terms of service", terms_of_service_path, class: "lighter" %> and our <%= link_to "privacy policy", privacy_path, class: "lighter" %>. </p>
         </div>
         
      </div>
       <div class="span4 offs">
             
         </div>  
   </div>
</div>