<br/>
 <% if params[:view] == "general" %>
 
 <h3 class="row"> General information </h3> 
 
 <div class="row">
    <div class="edit-section">
      <%= simple_form_for @user do |f| %>   
         <%= render 'shared/error_messages', :obj=>@user %>           
         <div class="field" id="personalform">      
            <%= f.input :birthday, label: "When were you born?", as: "date", start_year: Date.today.year - 80, end_year: Date.today.year - 14, prompt: "select", selected: "select", input_html:{id: "short"}%>
           
            <%= f.input :gender, collection: User::GENDER, input_html:{id: "short"} %> 
         </div>   
            <div id="personalform">
               <label> Enter the languages you can hold a conversation in </label>
            </div>   
            <%= f.input :language_tokens, label: false, input_html: { data: {load: Language.prefill_languages(@user.languages)}} %>  
         <div class="field" id="personalform">      
            <%= f.input :self_intro, label: "Introduce yourself to everyone", input_html: {style: "margin-bottom:0px; padding-bottom:0px"} %>
             
             <a name="picture"></a>        
            
             <%= f.input :facebook, label: "Link to your Facebook page (optional)", input_html: {placeholder: "www.facebook.com/"} %>
         </div>
         <br/><br/>
         <%= f.button :submit, "save", id: "blue-button" %>
         <% end %>
      </div>
    </div> 
<% end %>
 <% if params[:view] == "picture" %>
 <h3 class="row"> Pictures </h3> 
  <div class="row">
    <div class="edit-section" id="personalform">
       <label>You have uploaded <b> <%= @user.images.count %> </b> out of 7(max) pictures.</label>
       <div class="row">
          <br>
          <% @user.images.each do |img|%>      
          <div class="span1">
             <%= link_to image_tag(img.photo.url(:thumb), class: "thumbnail thumbindex" ), image_path(img) %>
          </div>
          <% end %>
       </div>
       <div class="filler"></div>
       <%=render 'images/img_upload'%>
    </div>
  </div>
 <% end %> 
 <% if params[:view] == "security" %>
 <h3 class="row"> Password </h3> 
 
 <div class="row " id="edit-section">
    <div class="edit-section" id="personalform">
       <%= simple_form_for(@user) do |f| %>
          <%= render 'shared/error_messages', :obj=>@user %>
              <%= f.input :old_password, label: "Enter your current password" %>
              <%= f.input :password, label: "Set a new password" %>
              <%= f.input :password_confirmation, label: "Confirm new password" %><br/>
          <%= f.button :submit, "update", :id=>"blue-button" %>
       <% end %>
    </div>
 </div>
 <% end %>