<div class="span8 offset1" style="padding-left:50px; background-color:#eee">   
<div class="filler">
   
</div>
<%= form_for(@user) do |f| %>
 <h3> 
 <%= image_tag "hat.png" %>
 Sign Up
 </h3>
 
 <%= render 'shared/error_messages', :obj=>@user %>
 <div class="filler"></div>
  <div class="field" id ="personalform">
    <%= f.label :email %>
    <%= f.text_field :email %>
  </div>
  <div class="field" id ="personalform">
    <%= f.label :firstname %>
    <%= f.text_field :firstname %>
  </div>
  <div class="field" id ="personalform">
    <%= f.label :lastname %>
    <%= f.text_field :lastname %>
  </div>
  <div class="field" id ="personalform">
      <%= f.label :password %>
      <%= f.password_field :password %>
    </div>
    <div class="field" id ="personalform">
      <%= f.label :password_confirmation %>
      <%= f.password_field :password_confirmation %>
    </div>
  <br>
  <div class="actions" >
    <%= f.submit  "create account", id: "pink-button" %>
  </div>
<% end %>
</div>

