 <div class="filler"></div> 
 <h3 class="row"> General information </h3> 
 <div class="row host_info">
    <div class="edit-section">
   
         <div class="field edit_link">
            <small> First name </small><br> 
            <strong> <%= best_in_place @user, :firstname, :type=>:input, :activator=> "#editfirst", :html_attrs => {size: 20} %> </strong>
            <%= link_to 'edit', '#', id: "editfirst" %>       
         </div>
        
         <div class="field edit_link">
            <small> Last name </small> <br> 
            <strong> <%= best_in_place @user, :lastname, :type=>:input, :activator=> "#editlast", :html_attrs => {size: 30} %> </strong>
            <%= link_to 'edit', '#', id: "editlast" %>
         </div>
         <div class="field edit_link">
            <small> Email </small> <br> 
            <strong><%= best_in_place @user, :email, :type=>:input, :activator=> "#editemail", :html_attrs => {size: 20} %> </strong>
            <%= link_to 'edit', '#', id: "editemail" %>            
         </div>
         
         <div class="field edit_link">
            <small> Self introduction (optional) </small><br/>
         <%= best_in_place @user, :self_intro, :type=>:textarea, :nil => "Add an self introduction", :sanitize=>"false", :activator=> "#editintro", :html_attrs => { class: "edit_link", :style=>"width:80%"} %> 
         <% if @user.self_intro.nil? || @user.self_intro.empty? %>
            <%= link_to '+', '#', id: "editintro" %> 
         <% else %>
            <%= link_to 'edit', '#', id: "editintro" %> 
         <% end %>    
         </div>  
             
         <a name="picture"></a>
         
         <div class="field edit_link">
            <small> Facebook (optional)</small> <br> 
            <%= best_in_place @user, :facebook, type: :textarea, :activator=> "#editfacebook", nil: "Link to Facebook profile"%>
            <% if @user.facebook.nil? || @user.facebook.empty?%>
               <%= link_to '+', '#', id: "editfacebook" %>            
            <% else %>
               <%= link_to 'edit', '#', id: "editfacebook" %>
            <% end %>            
         </div>              
          <%= form_for @user do |f| %>

             <div class="field edit_link">
                <div class="field" id="personalform">
                      <small> Enter the languages you can hold a conversation in </small>
                      <%= f.text_field :language_tokens, data: {load: Language.prefill_languages(@user.languages)} %>
                </div><br/>
                <div id="langsave" style="display:none">
                   <%= f.submit "save", :type=>"submit", id: "blue-button" %>
                </div>
             </div>
             <% end %>    
    </div>  
</div>
 
 <div class="filler"></div>
  <h3 class="row"> Pictures </h3>
  <div class="row host_info">
    <div class="edit-section edit_link">
       <small> You have uploaded <b> <%= @user.images.count %> </b> out of 7(max) pictures. </small>
       <div class="row">
          <br>
          <% @user.images.each do |img|%>      
          <div class="span1">
             <%= link_to image_tag(img.photo.url(:thumb), class: "thumbnail thumbindex" ), image_path(img) %>
          </div>
          <% end %>
       </div>
       <div class="filler"></div>
       <%=render 'images/img_upload'%>
    </div>
  </div>
  
 <div class="filler"></div>
 <h3 class="row"> Security </h3>
 <div class="row host_info" id="edit-section">
    <div class="edit-section">
       <%= form_for(@user) do |f| %>
          <%= render 'shared/error_messages', :obj=>@user %>
          <div class="field edit_link">
              <small> Enter your current password </small><br>
              <%= f.password_field :old_password %>
           </div>
          <div class="field edit_link">
             <small> Set new password </small><br>
             <%= f.password_field :password %>
          </div>
          <div class="field edit_link">
              <small> Confirm new password </small><br>
              <%= f.password_field :password_confirmation %>
          </div>    
          <%= f.submit "update", :id=>"blue-button", :style=>"margin-bottom:0px" %>
       <% end %>
    </div>
 </div>