<% profile = @user.hostprofile%>

<div class="easy_edit">
   <strong> <%= @user.firstname.capitalize%> </strong>

   <% if current_user?(@user) %>
      <small class="edit_link"><%= link_to "edit", edit_user_path(@user, view: "general") %></small>
   <% end %>
</div>
<small id="hint"> 
   <%= "#{@user.calc_age} /" unless @user.birthday.nil? %> <%=" #{User::GENDER.invert[@user.gender]} /" unless @user.gender.nil? %> traveler<%= " / host" if @user.is_host? %> 
</small><br/>
<% if !@user.languages.nil? %>
   <% @user.languages.each do |l|%>
     <small id="hint" style="margin-right: 2px; color: white; padding:1px 0px 2px 3px; background:#999; border-radius:3px"> 
        <%= Language.find_by_id(l).try(:name) %>
     </small>   
   <% end %>
   <br>
<% end %>

<%= render "shared/rating", :score => @user.traveler_score %>
<small id="hint"> <%= pluralize(@user.treviews_received.count, "review") %> as traveler </small>
<!-- render information for non-host users -->
<% if !host_user?(@user)%>
   <br/>
   <%= image_tag "completed.png", id: "stats-icon" %>
   <small id="icon-text"><%= pluralize(@user.meetups_completed, 'meetup') %> completed</small><br>
   <%= image_tag "review.png", id: "stats-icon" %>
   <small id="icon-text"><%= pluralize(@user.reviews.count, 'review') %> written </small>
   <% if current_user?(@user) %> 
   <br/><br/>
   <% prompt = "" %>
      <% if @user.images.empty? && @user.self_intro.empty?%>
         <% prompt = "Your profile is empty. Upload some pictures and tell us a bit about yourself." %> 
      <% elsif @user.images.empty? %>
         <% prompt = "A picture says a thousand words. Go on, upload one."%>
      <% elsif @user.self_intro.empty? %>
         <% prompt = "Lovely picture! Now add a short self introduction." %>   
      <% end %>
         <% if !prompt.empty? %>
         <div class="edit_link">
            <p id="hint"><%= "#{prompt}"%> </p><br/>
            <small class="edit_link"> <%= link_to "edit", edit_user_path(@user, view: 'general'), class: "edit_link" %> </small>
            </p>
         </div>
         <% end %>
         <div>
            <h3><%= "You are not a host yet!" %></h3>
            <% if current_user?(@user) %>
            <div style="color: #999">
               Learn more about this great opportunity to meet new friends and make some money showing off your neighborhood.
            </div><br/>
            <small> <%= link_to 'Become a Host', becomehost_path, id: "pink-button" %> </small>
            <% end %>
         </div>
   <% end %>   
   
<!-- render information for host users -->   
<% else %>       
   <br/>
   <% service =  Service.find_by_id(profile.service).title %>
   <% img = "#{service.gsub(' ', '_')}2.png" %>
   <div style="height:10px"></div>
   <div id="easy_edit">
          <strong style="margin-left:px"><%= service.capitalize%> </strong >
            <% if current_user?(@user) %>
               <small class="edit_link"> <%= link_to "edit", edit_hostprofile_path(@user.hostprofile), class: "edit_link" %> </small>
            <% end %>
         </div>

    <small><%= profile.city.name%>, <%= profile.city.country.name%>  </small><br/>
   
   <%= render "shared/rating", :score => profile.score %>
   <small id="hint"> <%= pluralize(@user.inverse_reviews.count, "review") %> as host <br/></small>
   <br/>
   <%= image_tag "review.png", alt: "review count icon", id: "stats-icon" %>
   <small id="icon-text"><%= pluralize(@user.reviews.count + @user.treviews_written.count, 'review') %> written </small><br>
   <%= image_tag "completed.png", alt:"completed meetups icon", id: "stats-icon" %>
   <small id="icon-text"><%= pluralize(profile.completed_count, 'meetup') %> completed</small><br/>
   <%= image_tag "recommended.png", alt: "recommended count icon", id: "stats-icon" %>
   <small id="icon-text"> <%= "#{profile.calc_recommend_rate}%"%> recommended</small> <br>
   <%= image_tag "response.png", alt: "response rate icon", id: "stats-icon"%>
  <small id="icon-text"> <%= profile.calc_response_rate.nil? ? "na" : "#{profile.calc_response_rate}%" %> response rate </small><br>
   <div style="height:18px"></div>
   <% if profile.exchange_type == "money"%>
      <% exchange = "Asking for $#{profile.price} #{profile.currency}"%>
   <% elsif profile.exchange_type =="language practice" %>
      <% exchange = "Asking to practice #{profile.language_practice}"%>
   <% else %>
      <% exchange = profile.exchange_type.capitalize %>
   <% end %>
    
   <% if !current_user?(@user) %>
      <%= link_to new_user_appointment_path(@user) do%>
         <div class = "appt_tag">
            <p> <%= "#{exchange}" %></p>
            <strong>Request Meetup</strong>         
         </div>
      <% end %>
   <% else %>
      <strong>  <%= "#{exchange}" %>  </strong>
   <% end %>
<% end %>
