<% profile = user.hostprofile%>
   <div class="span4">
       <div class="thumbnail" id="badge">
         <%= link_to image_tag(find_display_imgurl(user.id, "medium")), user%>
         <div id="overlay">
              
               <%if profile.exchange_type == "money"%>
                  <div id="service-title" style="color:#FF4697">                 
                   <%= "$#{profile.price}"%> <%= profile.currency %>
               <% elsif profile.exchange_type =="language practice" %>
                  <div style="color:#00E1E1" id="service-title"><%= "practice #{profile.language_practice.downcase}" unless profile.language_practice.nil?%>
               <% else %>
                  <div style="color:#00E1E1" id="service-title">     
                  <%= profile.exchange_type%>
               <% end %>
                  </div>
         </div>
         <div class="row" style="top: -28px">
            <div class="span4">
               <b><%=user.firstname.capitalize %></b>
               <i id="icons" class="meetups-comp icon-globe"></i>
               <small id="hint"><%=profile.completed_count%></small>
               <i id ="icons" class="response-rate icon-circle-arrow-right" ></i>
               <small id="hint"> <%= profile.calc_response_rate.nil? ? "NA" : "#{profile.calc_response_rate}%" %> </small> <small class="language_list"> <% profile.languages.each do |l|%>
                     <%= Language.find_by_id(l).try(:code) %>
                     <%= "," if profile.languages.last != l%>
               <% end %> </small>
            </div>
               
         </div>
         <div class="row" style="top: -28px">
            <div class="span2">
               <%= render "shared/rating", :score => profile.score %><small id="hint"> <%= "(#{user.inverse_reviewees.count})" %> </small>
            </div>        
         </div>
         <div class="row" style="top: -15px">                        
             <div class="span3" style="font-size:1.1em">    
                <%= Service.find_by_id(profile.service).try(:title)%>
             </div>
            <div class="span4 intro" style="font-family: calibri; font-size: 14px; color:#777">
               <%= profile.intro%>
            </div>   
         </div>
       </div>
     </div>
