<% profile = user.hostprofile%>
<% service_title = Service.find_by_id(profile.service).title %>

<div class="span4">
   <div class="thumbnail" id="badge">
      <%= link_to image_tag(find_display_imgurl(user.id, "medium"), id: "main"), user%>
      <div id="overlay">       
         <%if profile.exchange_type == "money"%>
             <div id="service-title" style="color:#FF4697">                 
             <%= "asking for $#{profile.price}"%> <%= profile.currency %>
         <% elsif profile.exchange_type =="language practice" %>
             <div style="color:#1EC8EA" id="service-title"><%= "wants to practice #{profile.language_practice.downcase}" unless profile.language_practice.nil?%>
         <% else %>
             <div style="color:#00E1E1" id="service-title">     
             <%= profile.exchange_type%>
         <% end %>
      </div>
   </div>
   <div class="row" style="top: -28px">
      <div class="span4">
         <b style="margin-right:5px"><%=user.firstname.capitalize %></b>
         <%= image_tag "completed.png", size: "18x18" %>
         <small id="hint"><%=profile.completed_count%></small>
         <%= image_tag "response.png", size: "18x18" %> 
         <small id="hint"> <%= profile.calc_response_rate.nil? ? "NA" : "#{profile.calc_response_rate}%" %> </small> 
         <div style="text-align:right; right: -167px; top: -15px; width: 120px">
            <small class="languag_list"> 
            <% if !user.languages.nil? %>
               <% user.languages.each do |l|%>
                  <small style="background:#ccc; padding:0px 3px 2px 3px; border-radius:2px"><%= Language.find_by_id(l).code%></small>
                  <%=" " if user.languages.last != l %>
               <% end %> 
            <% end %>
            </small>
         </div>        
      </div>         
   </div>
   <div class="row" style="top: -45px">
      <div class="span2">
         <%= render "shared/rating", :score => profile.score %><small id="hint"> <%= "(#{user.inverse_reviews.count})" %> </small>
      </div>        
   </div>
   <div class="row" style="top: -35px"> 
      <div class="span3" style="font-size:1.1em">    
         <b><%= service_title.capitalize%></b>
      </div>
      <div class="span4 intro" style="font-family: calibri; font-size: 14px; color:#777">
         <%= profile.intro%>
      </div>   
   </div>
</div></div>