<div id="name">
   Name <%= @user.firstname%> <%link_to "edit", ""%>
   email <%= @user.email%> <%link_to "edit", ""%>
   
</div>

<%= render 'form_edit' %>

<%= link_to 'Show', @user %> |
<%= link_to 'Back', users_path %>
