<% content_for (:head_tags) do%>
<script type="text/javascript">
  var _gaq = _gaq || [];
  _gaq.push(['_setAccount', 'UA-37125011-1']);
  _gaq.push(['_trackPageview']);

  (function() {
    var ga = document.createElement('script'); ga.type = 'text/javascript'; ga.async = true;
    ga.src = ('https:' == document.location.protocol ? 'https://ssl' : 'http://www') + '.google-analytics.com/ga.js';
    var s = document.getElementsByTagName('script')[0]; s.parentNode.insertBefore(ga, s);
  })();
</script>
<% end %>

<%= provide(:title, 'search') %>
<div class="container">
   
<div class="row">
   <div class="span12 top-banner" id="weave" style="height:70px">
      <div class="row">
         <div class="span5 offset1">
            <br/>
            <strong id="white">You can narrow your search by choosing the type of host you are looking for.</strong>
         </div>   
         <div class="span4 offset1">
            <br/>
            <%= form_tag fill_location_path, method: 'get', class: "wel form-inlin" do %>
            <div id="personalform">
               <%=render 'shared/country_city_select', :inline_search => true%>
            <%= submit_tag "Find", :name => nil, :id=>"blue-button", :style=>"width: 70px" %>
            </div>
            <%end%>               
         </div>
      <div>   
    </div>         
 </div>
</div>
</div>
<br/>
<div class="span12 service-banner">
   <div class="row">
      <% Service.all.each do |s| %>
         <% img = "#{s.title.gsub(' ', '_')}.png" %>
         <%= link_to filter_path(:category => s.id) do %>
            <% if params[:category].to_i == s.id %>
            <div class="menu_item" id="active">
            <% else %>
            <div class="menu_item">
            <% end %>
               <%= image_tag(img, alt: s.title) %>         
      		   <div class="menu-label"><%= s.title %></div>
      	   </div>
   	   <% end %>  
      <% end %>
    </div>  
</div>
</div>
<br/>
<div class="container">
   <div class="row">   
   
   <%servicename = @service.try(:title) || "host"%> 
   <% if @users.empty? %>
      <div class="span10">
         <strong> :( Sorry, there are currently <%= "#{pluralize(0, servicename)} in #{@city.name}, #{@country.name}." %> </strong><small class="edit_link" id="light"> <%= link_to "see all", users_path, :style=>"text-decoration: underline" %></small><br/>
      </div>         
   <%else%>
      <div class="span12" style="padding:10px 0px; margin-left:18px">  
         <strong><%= "#{pluralize(@users.count, servicename.capitalize)} in #{@city.name}, #{@country.name} " %></strong> <small class="edit_link" id="light"> <%= link_to "see all", users_path, :style=>"text-decoration: underline" %></small>
      </div>
   </div>
</div>
<div class="container">
   <%= will_paginate %>  
   <% n = 0 %>     
   <div class="row">
      <% @users.each do |u| %>
         <%= render u %>
         <% n+=1 %>
         <% if n % 3 == 0 %>
            </div>
            <div class="row">
         <% end %>
      <% end %>
      </div>
      <%= will_paginate %>
      </div>
   <% end %>        
<div class="filler">
</div>
  
</div>
</div>

