<div class="row">
    <aside class="span4">
		<section>
			<% @message = Message.new%>
			<%= form_for(@message) do |f| %>
				<%= render 'shared/error_messages' %>
		 		<div>
					<div class="field">
		    		<%= f.label :subject %><br />
		    		<%= f.text_field :subject %>
		  		</div>
		 		<div class="field">
		    		<%= f.label :body %><br />
		    		<%= f.text_field :body %>
		 		</div>
				<%= f.hidden_field :recipient_id, value: @user.id %>
				<%= f.hidden_field :thread_id, value: @msgthread.id %>
				<%= f.submit "post", class: "btn btn-large btn-primary" %>
			<% end %>
		</div>
        </section>
    </aside>
</div>