<% provide(:title, @user.firstname) %>

<p id="notice"><%= notice %></p>

<div class="row">
   <aside class="span4">
      <section>
        <h1>
          
          <% @user.images.each do |img|%>
             <%= link_to (image_tag img.photo.url(:medium)), img.photo.url(:original)%>
             <% if current_user?(@user) %>   
                <%=link_to "delete", img, confirm: "are you sure", method: :delete%>
             <%end%>
          <%end%>
          <%= @user.firstname %>
        </h1>
      </section>
   </aside>
</div>
<p>
  <b>Firstname:</b>
  <%= @user.firstname %>
</p>

<p>
  <b>Lastname:</b>
  <%= @user.lastname %>
</p>

<p>
  <b>Email:</b>
  <%= @user.email %>
</p>

<% if host_user?(@user)%>
   <%= render @user.hostprofile %>
<% end %>

<% if current_user?(@user) %>
   <div> <%=link_to "upload img", new_image_path %> </div>
	<% if !host_user?(@user) %>
		<%= link_to 'become a host', becomehost_path %>
	<% else %>
		<%= link_to 'unbecome host', hostprofile_path(@user.hostprofile), method: "delete"%>
	<% end %>
<% else %>
	
	<%= link_to 'message '+ @user.firstname, new_user_message_path(@user)%> <br>
	<!-- TODO: insert correct link here -->
	<!-- TODO: two divs, one of email form hidden until first div is clicked. JQuery -->
	<%= link_to 'Email a friend', mailfriend_user_path(@user) %>
<% end %>

<div class="row">
<div class="span8">

  <% if @user.inverse_reviews.any? %>
    <h3> Reviews (<%= @user.inverse_reviewees.count %>) </h3>
    <ol class="microposts">
       <%= render @reviews %>
    </ol>
    <%= will_paginate @reviews %>
  <% end %>
</div>
</div>

<% unless current_user?(@user) %>
<% if signed_in? %>
<div class="row">
    <aside class="span4">
        <section>
			<% @review = Review.new%>
			<%= form_for(@review) do |f| %>
			<%= render 'shared/error_messages' %>
			<div class="field">
			    <%= f.text_area :content, placeholder: "write your review..." %>
			    <%= f.hidden_field :reviewer_id, value: current_user.id %>
				<%= f.hidden_field :reviewee_id, value: @user.id%>
			</div>
			<%= f.submit "post", class: "btn btn-large btn-primary" %>
			<% end %>
        </section>
    </aside>
 </div>
<% else %>
<div>
  <%= link_to 'Sign in to review', signin_path %> 
</div>
<% end %>
<% end %>


<%if current_user?(@user) %>
<%= link_to 'Edit', edit_user_path(@user) %> |
<% end %>
<%= link_to 'Back', users_path %>
