<% provide(:title, @user.firstname) %>
<p id="notice"><%= notice %></p>
<%= render 'shared/history_nav' %>
<br>
  
<div class="row" >
   
   <div class="span4 side-profile">
      <div class="row" style="margin:5px 15px; height: 340px;">
         <%= render "personal_info" %>   
      </div>        
      <div class="row" style="margin: 0px 15px">
         <div id="message_icon" class="icon-envlope-alt"><%= link_to 'Message ', new_user_message_path(@user) %></div>
         <div id="message_icon" class="icon-shre-alt"><%= link_to 'Tell a friend', mailfriend_user_path(@user) %></div>             
      </div>
   </div>
   <div class="span8"> 
         <%= render "picture_gallery" %>  
   </div>
</div> 

<div class="filler"> </div>
<ul class="nav nav-tabs edit_link">
   <% if params[:view] == "treview" || params[:view] == "hreview" %>
     <li>
   <% else %>
     <li class="active">  
   <% end %> 
   <%= link_to "Profile", user_path(@user, view: "profile") %> </li>
   <% if @user.is_host? %>  
      <% if params[:view] == "hreview" %>
         <li class="active">
      <% else %>
         <li>
      <% end %>
         <%= link_to "Reviews as host (#{@user.inverse_reviews.count})", user_path(@user, view: "hreview") %> </li>
   <% end %>
   <% if params[:view] == "treview" %>
      <li class="active">
   <% else %>
      <li>
   <% end %>
   <%= link_to "Reviews as traveler (#{@user.treviews_received.count})", user_path(@user, view: "treview") %>
   
</ul>

<% if params[:view] == "hreview" %>
<div class="row">
   <div class="span10">
      <% if !@reviews.nil? %>
         <div class="row">
            <%= render @reviews %>
         </div>
      <% else %>
          <%= "#{@user.firstname.capitalize} has no reviews at the moment." %>
     <% end %>
   </div> 
</div>
<%= will_paginate @reviews %>
<% elsif params[:view] == "treview" %>
  <% if !@treviews.nil? %>
     <div class="row">
        <%= render @treviews %>
     </div>
  <% else %>
      <%= "#{@user.firstname.capitalize} has no reviews at the moment." %>
  <% end %>
  <%= will_paginate @treviews %>
  
<% else %>
   <% if !host_user?(@user) %>
   <strong> About me </strong> <br>
   <% if @user.self_intro.empty? %>
      <div class="edit_link">
         No self introduction yet. 
         <small> <%= link_to 'Enter one.', edit_user_path(@user, view: "general") if current_user?(@user) %> </small>
      </div>   
   <% else %>
        <div class="span11" style="margin-left:0px; margin-top:10px">
           <p> <%= @user.self_intro %> </p>
        </div>
   <% end %>
   <div class="filler"></div>
   <% else %>
      <%= render @user.hostprofile %>  
   <% end %>
<% end %>

<div class="filler"></div>