<% provide(:title, @user.firstname) %>
<p id="notice"><%= notice %></p>

<div class="row" >
   <div class="span4" style="background-color: #eee; height: 385px">
      <div class = "row" style="margin:5px 15px; height: 350px">
         <%= render "personal_info" %>
      </div>
      <div class = "row" style="height:22px; margin: 0px 15px">
         <%= link_to_unless current_user?(@user), 'message ', new_user_message_path(@user) %> | 
         <%= link_to 'tell a friend', mailfriend_user_path(@user) %>
      </div>
   </div>
   <div class="span8"> 
         <%= render "picture_gallery" %>  
   </div>
</div> 
<div class="filler"> </div>
<ul class="nav nav-tabs">
   <% if params[:view] == "review" %>
     <li>
   <% else %>
     <li class="active">  
   <% end %>
     <%= link_to "profile", user_path(@user, view: "profile") %>
   </li>
   <% if params[:view] == "review" %>
      <li class="active">
   <% else %>
      <li>
   <% end %>
      <%= link_to "reviews(#{@user.inverse_reviewees.count})", user_path(@user, view: "review") %>
  </li>
</ul>

<% if params[:view] == "review" %>
<div class="row">
   <div class="span8">
   <% if @user.inverse_reviews.any? %>
      <ol class="microposts">
         <%= render @reviews %>
      </ol>
  <% end %> 
  </div> 
</div>
<%= will_paginate @reviews %>
<% else %>
   <% if host_user?(@user)%>
      <%= render @user.hostprofile %>
   <% end %>
<% end %>