<% provide(:title, @user.firstname) %>

<p id="notice"><%= notice %></p>

<div style="height: 90px"> </div>
	<div class="row">
	  <aside class="span4">
	    <section>
	      <h1>
	        <%= gravatar_for @user %>
	        <%= @user.firstname + " " + @user.lastname %>
	      </h1>
	    </section>
	  </aside>
	</div>
<p>
  <b>Firstname:</b>
  <%= @user.firstname %>
</p>

<p>
  <b>Lastname:</b>
  <%= @user.lastname %>
</p>

<p>
  <b>Email:</b>
  <%= @user.email %>
</p>


<%= link_to 'Edit', edit_user_path(@user) %> |
<%= link_to 'Back', users_path %>
