<div class="filler"></div>
<div class="nav nav-tabs tab_link">
   
   <% if params[:view] == "general" %>
      <li class="active">
   <% else %>
      <li>
   <% end %>
   <%= link_to "General", edit_user_path(@user, :view=>"general") %>
     </li>
   <% if params[:controller] == "hostprofiles" %>
        <li class ="active"> 
     <% else %>
        <li>
     <% end %>

     <% if @user.is_host? || @hostprofile.try(:deactivated) == true%>
        <%= link_to "Host profile", edit_hostprofile_path(@hostprofile, :view=>"profile") %>
     <% else %>
        <%= link_to "Become a host", becomehost_path, :style=>"color: #FF7285; font-weight: bold " %>
     <% end %>
     </li>       
     
  
   <% if params[:view] == "picture" %>
      <li class="active">
   <% else %>
      <li>
   <% end %>       
   <%= link_to "Pictures", edit_user_path(@user, :view=>"picture") %>
   </li>
   <% if params[:view] == "security" %>
      <li class="active">
   <% else %>
      <li>
   <% end %>       
   <%= link_to "Security", edit_user_path(@user, :view=>"security") %>
   </li>

</div>