    <div class="row">
       <h1>How it works</h1><br/>
       <div class="span9" style="margin-left:0px">
          <h3>tiniHost connects travelers with the perfect meal companion, the savviest shopping buddy, or just a know-it-all local who can provide a fun and authentic experience in a new city. </h3>
          </div>
          
    </div>
    <div class="filler"></div>
    <div class="row">
       <div class="span4" style="margin-left:0px">
          <%= image_tag "traveler.png", alt: "traveler backpack" %>
          <h2>Travelers</h2><br/><br/>
           <h3> Find a local, request a meetup, and enjoy an authentic and unique travel experience. It's a great way to make new friends.</h3>
       </div>
       <div class="span4 offset1">   
          <%= image_tag "host.png", alt: "host hat" %>
          
          <h2> Hosts</h2><br/><br/>
          <h3> Want to make some money, practice another language, or make a new friend? Become a host to show travelers a good time in your town.</h3>
       </div>
    </div>
    
    <div class="filler"></div>
    
    <div class="row">
      <h2 style="color: #555; margin-left:200px">How to meetup</h2>
    </div>
    <br/>
    <div class="row">
      
      <div class="span4" style="margin-left:0px"><br/>
        <div class="row">
           <div class="span1">
              <%= image_tag "traveler.png", alt: "traveler backpack", size: "38x35" %>
           </div> <h3>Request a meetup with any host of your choice.</h3><br/><br/>
        </div>
        <div class="row">
           <div class="span1">
              <%= image_tag "traveler.png", alt: "traveler backpack", size: "38x35" %>
           </div>
           <div class="span3" style="margin-left:0px">
            <h3>If the host responds available, you can book the meetup or say no thanks.</h3>
           </div>  
        </div><br/>
        <div class="row">
           <div class="span1">
              <%= image_tag "traveler.png", alt: "traveler backpack", size: "38x35" %>
           </div>
           <div class="span3" style="margin-left:0px">
              <h3>After the meetup, review your experience with the host and complete the meetup. </h3>
           </div>  
        </div> 
      </div>
      
      <div class="span4 offset1"><br/>
         <div class="row"> 
            <div class="span1">
               <%= image_tag "host.png", alt: "host hat", size: "38x35" %>
            </div>
            <div class="span3" style="margin-left:0px">
               <h3>Respond available or unavailable to traveler's meetup request</h3><br/>
            </div>
         </div>
         <div class="row">
            <div class="span1">
                 <%= image_tag "host.png", alt: "host hat", size: "38x35" %>
            </div>
            <div class="span3" style="margin-left:0px">
               <h3>If you respond available, traveler has the option to book the meetup. </h3>
            </div>
         </div>
         <br/><br/>
         <div class="row">
            <div class="span1">
                 <%= image_tag "host.png", alt: "host hat", size: "38x35" %>
            </div>
            <div class="span3" style="margin-left:0px">
               <h3>Review the traveler and complete the meetup. </h3>
            </div>
         </div>
      
      </div> 
    </div>
