   <div class="edit-section">
      <p style="color:#78B858"> Please rate on a scale of 1 to 5, 1 being terrible and 5 being excellent. </p>
      <div id="clear_float">
         <small><%= f.input :accuracy, :collection => 1..5, :as => :radio, :label=> "Did you find the service as advertised?" %></small>
      </div>
       <div id="clear_float">
         <%= f.input :friendliness, :collection => 1..5, :label=>"Did you find your host friendly and helpful?", :as => :radio %>   
       </div>
       <div id="clear_float">
          <%= f.input :easiness, :collection => 1..5, :label=>"How easy was arranging the meetup?", :as => :radio %>  
       </div>
       <div id="clear_float">
         <%= f.input :enjoybility, :collection => 1..5, :label=>"How enjoyable was your overall experience?", :as => :radio %> 
       </div> 
       <div id="clear_float" style="width:200px">
          <%= f.input :recommend, :label=>"Would you recommend #{@user.firstname.capitalize} to other travelers?", :as=> :select%>
       </div>

      <div id="clear_float inline_review">
         <%= f.input :content, label: "Leave a comment (optional)", :as=>"text", :input_html => {:id=>"inline_review"}, :placeholder=>"max 400 characters..."%>
      </div> 
      <%= f.input :is_host_review, :as => :hidden, :input_html => { :value => true } %>
      <%= f.button :submit, "complete meeting", :id=>"", class: "btn btn-success" %>
   </div>  