<%= form_for(@review) do |f| %>
<%= render 'shared/error_messages' %>
<div class="field">
    <%= f.text_area :content, placeholder: "write your review..." %>
    <%= f.hidden_field :reviewer_id, value: current_user.id %>
	<%= f.hidden_field :reviewee_id, value: @user.id%>
</div>
<%= f.submit "post", class: "btn btn-large btn-primary" %>
<% end %>

