<div class="span5 header-menu">
   
<div class="span3">
   
<span>
<%= link_to mailbox_path(current_user, folder: "inbox") do %> 
     inbox <%= "(#{current_user.messages.unread.count})" unless current_user.messages.unread.count == 0 %>
     <% end %>
</span>
<span style="margin-left:15px">
<%= link_to user_appointments_path(current_user) do %> 
   meetups <%= "(#{current_user.active_meetup_count})" unless current_user.active_meetup_count == 0 %>
<% end %>
</span>
</div>
 


<div class="span2" style="margin-left:0px;">
    <%= link_to image_tag(find_display_imgurl(current_user.id, "thumb"), id: "profile-navbar", alt: "user profile thumb picture"), current_user %>
	     <%= link_to current_user.firstname.capitalize, current_user %> 
	     <%= link_to '<i class="icon-caret-down" id="dropdown" style="margin-left:5px; color:#ddd;  font-size:1.3em"></i>'.html_safe, "#"%>
 
   <ul class="dropdown">
      <i class="icon-caret-up" ></i>
   	<li> <%= link_to "profile", current_user %></li>
   	<li> <%= link_to "settings", edit_user_path(current_user, view: "general") %> </li>
   	<hr style="margin:0px">
   	<li> <%= link_to "sign out", signout_path, method: "delete" %> </li>
   </ul>
   </div>
   
</div>


