<li> <div class="blocknav">
      <%= link_to board_path do %>
         <b>Request </b><br/>
       <small> a host </small>
       <% end %>     
   </div>  
   </li>
<li> <%= link_to mailbox_path(current_user, folder: "inbox") do %> 
     inbox <%= "(#{current_user.messages.unread.count})" unless current_user.messages.unread.count == 0 %>
     <% end %>
</li>
<li> <%= link_to user_appointments_path(current_user) do %> 
   meetups <%= "(#{current_user.active_meetup_count})" unless current_user.active_meetup_count == 0 %>
   <% end %>
</li>
<li id="fat-menu" class="dropdown">

<a href="#" class="dropdown-toggle" data-toggle="dropdown">
   <table style="margin-left:0px">
      <tr>
         <td style="position:relative; top:-3px; left: -5px">
           <%= image_tag(find_display_imgurl(current_user.id, "thumb"), id: "profile-navbar") %>
         </td>
         <td style="vertical-align:top; padding-top:0px">
   	     <%= current_user.firstname.capitalize %> <b class="caret">
   	   </td>
   	<tr>
   </table>
</a>
<ul class="dropdown-menu">
	<li> <%= link_to "profile", current_user %></li>
	<li> <%= link_to "settings", edit_user_path(current_user, view: "general") %> </li>
	<li class="divider"> </li>
	<li> <%= link_to "Sign out", signout_path, method: "delete" %> </li>
</ul>
</li>