<li><%= link_to "forum", forum_path %></li>
<li> <%= link_to "inbox", mailbox_path(current_user, folder: "inbox") %> </li>
<li> <%= link_to "meetups", user_appointments_path(current_user) %> </li>
<li id="fat-menu" class="dropdown">

<a href="#" class="dropdown-toggle" data-toggle="dropdown">
   <table style="margin-left:0px">
      <tr>
         <td style="vertical-align:top; padding-left:0px">
           <%= image_tag(find_display_imgurl(current_user.id, "thumb"), size: "18x50") %>
         </td>
         <td style="vertical-align:top; padding-top:0px">
   	     <%= current_user.firstname.capitalize %> <b class="caret">
   	   </td>
   	<tr>
   </table>
</a>
<ul class="dropdown-menu">
	<li> <%= link_to "profile", current_user %></li>
	<li> <%= link_to "settings", edit_user_path(current_user) %> </li>
	<li class="divider"> </li>
	<li> <%= link_to "Sign out", signout_path, method: "delete" %> </li>
</ul>
</li>