<div class="row">
   <div class="span12 top-banner" id="weave">
      <div class="row">
         <div class="span7">
            <%= image_tag "london_pol.png" %>
            <%= image_tag "paris_pol.png" %>
         </div>
         
         <div class="span5" id="overlay" style=" height:230px">
            <br/>
            <div style="padding-left:15px"> 
            <strong id="white">Dear travelers, <br/> <br/> Select your destination and start looking for the perfect tiniHost for your trip. 
            <br/><br/> Bon Voyage!</strong>
            <br/><br/>
            <%= form_tag fill_location_path, method: 'get', class: "wel form-inlin" do %>
            <div id="personalform">
               <%=render 'shared/country_city_select', :inline_search => true%>
            <%= submit_tag "Find", :name => nil, :id=>"blue-button", :style=>"width: 70px" %>
            </div>
            <%end%>     
         </div>
      </div>
      </div> 
   </div>
</div>

<br/>

   