<br/><br/>
<div class="container" id="white">
   
<div class="row">
   <div class="span9 offset1" id="messageform">  
   <%= form_tag mailfriend_user_path(@user), :method=>'post' do %>
   <div id="personalform">
      <%= label_tag "friend's email:" %>
        <%= text_field_tag "email"%>
   </div>
   <div id="personalform">
      <%= label_tag "Note"%>
      <%= text_area_tag "note"%>
   </div>
   
   <%= submit_tag "email", :name => nil, id: "blue-button" %>
   <% end %>
   </div>
</div>
</div>


   