<% title = params[:folder] || ""%>
<% provide(:title, title) %>
<%= render "shared/your_header", id: current_user.id, text: "Your messages" %>
<br/>
<div class="container" id="white">
   
<div class="span11">
   <div class="filler"></div>
   
   <div class="row">
      <%= render 'shared/mailbox_nav' %>
      
   </div>  
   <div class="row">
      <div class="email">
      <%= "You have no messages at this time." unless !@messages.empty? %>     
      <%= will_paginate @messages%>
      <%= render @messages%>
      <%= will_paginate @messages%>
      </div>   
   </div>
</div>
</div>

