<% provide(:title, 'mailbox') %>
<h1><%= current_user.firstname + "'s mailbox"%></h1>

<%= render 'shared/mailbox_nav' %>

<%= will_paginate @messages%>

<table>
    <%= render @messages %>
</table>

<%= will_paginate @messages%>