<% title = params[:folder] || ""%>
<% provide(:title, title) %>
<div class="span11">
   <div class="row">
      <%= image_tag find_display_imgurl(current_user.id, "thumb"), id: "profile-thumb" %>	  
      <strong style="margin-left:10px"><%="Your messages"%></strong>
      <div class="filler"></div>
      <%= render 'shared/mailbox_nav' %>
   </div>
     
   <div class="row">
      <div class="email">
      <%= "You have no messages at this time." unless !@messages.empty? %>     
      <%= will_paginate @messages%>
      <%= render @messages%>
      <%= will_paginate @messages%>
      </div>   
   </div>
</div>
