<% title = params[:folder] || ""%>
<% provide(:title, title) %>
<div class="span10">
   <div class="row">

      <h3><%= current_user.firstname.capitalize + "'s mailbox"%></h3>
      <div class="filler"></div>
      <%= render 'shared/mailbox_nav' %>

      <%= will_paginate @messages%>
      <%= render @messages%>
      <%= will_paginate @messages%>
   </div>
   
</div>
