<div class="span8">
   
<h2> Who should be tiniHost?</h2>
<h4>Do you know the trendiest boutiques or the place to go for live music in town? Can you cook a mean local dish or take someone on a crazy adventure to the middle of nowhere? <br/><br/><b>Become a tiniHost to entertain travelers looking for fun and original ways to experience your city in exchange for payment, language practice, or the simple joy of making a new friend. </b></h4><br/>
<%= image_tag "collage_host.png", alt: "adventures collage" %>
<br/><br/>
<h2> In exchange for your service </h2>
<h4>tiniHost is not just great for travelers looking for a local experience, it's also great for you as a local to get something in return.</h4><br/>
<strong> Money </strong><br/>
Showing someone a good time can be time consuming and costly (ie. if you are cooking for someone). Don't be shy, make some money in return. Your asking amount will appear on your profile and travelers will decide if the amount sounds reasonable to them before booking.
<br/><br/>
<strong> Language practice </strong><br/>
Learning a new language can open doors, mastering it can take lots of practice. Why not host someone who's a native speaker to fine-tune all those pronunciations you have been struggling with.
<br/><br/>
<strong> Make a new friend </strong><br/>
Dinner can cost $50 but a new friendship is priceless. Make these count, like go crash with your new friends the next time you visit their town.
<br/><br/>
<strong> Negotiable </strong><br/>
Leaving it entirely up to you and the traveler. Just make sure you agree on the same thing before booking a meetup.<br/><br/>

<h4> <b>IMPORTANT:</b> When travelers book meetups with you, they are agreeing to what you are asking for in exchange. Conditions of the exchange cannot be changed after the initial meeting request and any monetary amount agreed upon will be exchanged in person.
<br/><br/><br/>
<h2> Host duty </h2>
<h4>Go on, pick what you want to be.</h4><br/><br/>
<div class="row">
   <div class="span1">
      <br/>
      <%= image_tag "local_insider.png", alt:"local insider" %>
   </div>
   <div class="span7">
      <strong>Local Insider </strong><br/>
      You know the city like the back of your hands. You can recite the landmarks in your sleep and have all the tourist hotspots indexed and filed. You can show a traveler around better than any giant tour company with ugly buses can.
   </div>
</div>
<br/>
<div class="row">
   <div class="span1">
      <br/>
      <%= image_tag "meal_companion.png", alt:"meal companion" %>
   </div>
   <div class="span7">
      <strong>Meal Companion </strong><br/>
       Foodies! You are all foodies! You love showing off your culinary skills to unsuspecting travelers. You also can't wait to introduce travelers to the best restaurants the city has to offer. 
   </div>
</div>
<div class="row">
   <div class="span1">
      <br/>
      
      <%= image_tag "chauffeur.png", alt:"Chauffeur" %>
   </div>
   <br/>
   <div class="span7">
      <strong>Chauffeur</strong><br/>
       You are a glorified taxi driver who can give history lessons going from the hotel to that obscure mountain tribe everyone is visiting.
   </div>
</div>
<div class="row">
   <div class="span1">
      <br/>
      <%= image_tag "translator.png", alt:"Translator" %>
   </div>
   <br/>
   <div class="span7">
      <strong>Translator</strong><br/>
       Foreign language is a beautiful thing. It's even more beautiful when you can help someone understand the words coming out of those beautiful foreign mouths.
   </div>
</div>
<div class="row">
   <div class="span1">
      <br/>
      <%= image_tag "shopping_buddy.png", alt:"shopping buddy" %>
   </div>
   <br/>
   <div class="span7">
      <strong>Shopping buddy</strong><br/>
      You love to shop, you know how to shop, you know where to shop. Now impart your expertise on travelers who share your passion. Help someone find that perfect pair of patent leather peep-toe pumps.
   </div>
</div>
<div class="row">
   <div class="span1">
      <br/>
      <%= image_tag "adventure_guide.png", alt:"adventure guide" %>
   </div>
   <br/>
   <div class="span7">
      <strong>Adventure guide</strong><br/>
      Your weekends are mostly spent trying not to die on some crazy excursion you concocted the night before. You want to show off the hidden trails only "the locals" know and you are well equipped to protect a tourist when approached by a 300lb Grizzly bear.
   </div>
</div>
<div class="row">
      <div class="span1">
         <br/>
         <br/>
         <%= image_tag "nightlife_expert.png", alt:"nightlife expert" %>
      </div>
      <br/>
      <div class="span7">
         <strong>Nightlife expert</strong><br/>
         You are on first-name basis with all the bouncers working the hottest bars and clubs. You know where to find that perfect martini and how to work the friskiest dance floor. Add an exotic touch by bringing a traveler with you next time.
      </div>
</div><br/><br/>
<h2> Booking meetups </h2>
<h4> Travelers will request meetups with you if they are interested in your service. Once the request is sent, it will show up in your meetup list and you can decide to respond available or no. If you respond available, the traveler will have the ability to book the meetup. A 2-day advance notice is required to cancel any booked meetups.<br/><br/> You can also look for potential travelers on the  Corkboard and respond to posts that match the service you can offer in your city.</h4><br/><br/>
<h2> Safety </h2>
<h4>tiniHost wants you to have a safe and fun experience meeting travelers. Unfortunately, we do not have the infrastructure to screen the mental health of all of our users. So please, use your common sense when meeting strangers. tiniHost highly recommends meeting during daylight hours and in public places, at least for your initial meetup. Don't be afraid to leave or use the appropriate authorities when feeling uncomfortable or threatened by someone. Please contact our team if you ever run into problems with anyone and we'll make sure to investigate and blacklist the user if necessary.</h4>
<div class="filler">
   
</div>
</div>
