<% content_for (:head_tags) do%>
<script type="text/javascript">
  var _gaq = _gaq || [];
  _gaq.push(['_setAccount', 'UA-37125011-1']);
  _gaq.push(['_trackPageview']);

  (function() {
    var ga = document.createElement('script'); ga.type = 'text/javascript'; ga.async = true;
    ga.src = ('https:' == document.location.protocol ? 'https://ssl' : 'http://www') + '.google-analytics.com/ga.js';
    var s = document.getElementsByTagName('script')[0]; s.parentNode.insertBefore(ga, s);
  })();
</script>
<% end %>
<% provide(:title, 'how it works')%>
<div class="container">
   <div class="row">
      <div class="span3 offset" style="width: 200px;">
         <br/><br/>
         <ul class="nav nav-list sidebar" style="background:white">
            <% if params[:view].nil? || params[:view] == "how"%>
               <li class="active">
            <% else %>
               <li>   
            <% end %>
            <%= link_to "How it works", about_path(view: "how") %>
            </li>

            <% if params[:view] == "host"%>
               <li class="active">
            <% else %>
               <li>   
            <% end %>
            <%= link_to "Host information", about_path(view: "host") %>
            </li>

            <% if params[:view] == "traveler"%>
               <li class="active">
            <% else %>
               <li>   
            <% end %>
            <%= link_to "Traveler information", about_path(view: "traveler") %></li>

            <% if params[:view] == "faq"%>
               <li class ="active">
            <% else %>
               <li>   
            <% end %>
            <%= link_to "FAQ", about_path(view: "faq") %></li>       
         </ul>
      </div>
      <div class="span9" style="background: white; padding: 20px 10px 20px 30px; margin:0px">
            <% if params[:view] == nil || params[:view] == "how"%>
            <div class="aboutpage_dark" style="padding:0px 0px 0 20px">
               <%= render "shared/how_it_works" %>
            </div>
            <% elsif params[:view] == "host" %>
            <div class="aboutpage">
               <%= render "hostinfo" %>
            </div>
            <div class="filler"></div>
            <% elsif params[:view] == "traveler" %>
            <div class="aboutpage">
               <%= render "travelerinfo" %>         
            </div>
            <% elsif params[:view] == "faq" %>
            <%= render "faq" %>       
            <% end %>
      </div>
   </div>
</div>

</div>


<%=render "shared/footer" %>
