<%= provide(:title, 'connecting travelers and local guides') %>

<% content_for (:head_tags) do%>
<script type="text/javascript">
  var _gaq = _gaq || [];
  _gaq.push(['_setAccount', 'UA-37125011-1']);
  _gaq.push(['_trackPageview']);

  (function() {
    var ga = document.createElement('script'); ga.type = 'text/javascript'; ga.async = true;
    ga.src = ('https:' == document.location.protocol ? 'https://ssl' : 'http://www') + '.google-analytics.com/ga.js';
    var s = document.getElementsByTagName('script')[0]; s.parentNode.insertBefore(ga, s);
  })();
</script>
<% end %>
<style type='text/css'>@import url('http://getbarometer.s3.amazonaws.com/assets/barometer/css/barometer.css');</style>
<script src='http://getbarometer.s3.amazonaws.com/assets/barometer/javascripts/barometer.js' type='text/javascript'></script>
<script type="text/javascript" charset="utf-8">
  BAROMETER.load('ZQ96jNO9qcjwTy2LZPtsC');
</script>
<div class = "container">
   <div class="filler">
   </div>
   <div class="row homepage">      
      <div class="span11" style="margin-left:60px;">         
         <div class="row">
            <div class="span5" style="padding-right:40px; border-right:1px #eee solid">       
               <h1> Travelers </h1><br/>
               <div style="text-align:left" >
                  <strong >A journey of a thousand miles must begin with a single step.
              </strong> - <i>Lao Tzu</i>
              <br/><br/>
               </div>
               <div class="filler">
                  
               </div>
                  <br/><br/>
                  <%= form_tag fill_location_path, method: 'get' do %>
                  
                  <div id="personalform" >
                     
                     <%=render 'shared/country_city_select', :inline_search => true%>
                  <%= submit_tag "Go!", :name => nil, :id=>"blue-button", :style=>"width: 70px" %><br/>
                  <%= link_to "What about other cities?", about_path(view: "faq", anchor: "limited_cities") %>           
                  </div>
                  <%end%>               
            </div>
<div class="span5" style="padding-left:30px">
   <h1> Locals </h1><br/>
   <div style="text-align:left">
      <strong> Shop, dine, show travelers around in exchange for payment, language practice, or the simple joy of making a new friend. </strong>
   <br/><br>
   </div>
   <%= image_tag "actgroup.png", alt: "adventures collage"%><br/> 
   <br/>
   <% if signed_in? %>
      <%= button_to "Become Host!", becomehost_path, id:"pink-button" unless current_user.is_host? %>
   <% else %>
      <%= button_to "Join tiniHost!", signin_path, id: "pink-button" %>
  <% end %>                     
</div>
         </div>
      </div>
   </div>
   <br/>
   <div class="row" style="text-align:center">    
      <%= link_to image_tag("facebook.png", alt: "Tinihost facebook page", size: "50x50"), "https://www.facebook.com/tiniHost" %>
      <%= link_to image_tag("twitter.png", alt: "Tinihost twitter page", size: "50x50"), "https://twitter.com/tinihost" %>           
   </div>                 
</div>
<br/>
<div class="container">   
<div class="row">
   <div style="background-color:#eed">
      <div class="aboutpage_dark offset2">
         <br/><br/>
         
         <%= render "shared/how_it_works" %>
      </div>     
   </div>
</div> 
   
</div>
<%=render "shared/footer" %>