<% provide(:title, 'home') %>
<div class = "center">
   <div class="homepage">      
      <div class="span11">
         <div class="row">       
            <h2> Where are you going?</h2>
         </div>    
        
         <div class="filler"></div>               
      
         <div class="row" id="location-button">
            <%= link_to image_tag("sanfran.png", alt: "San Francisco"), fill_location_path(city_country_location: "San Francisco, United States") %>
            <%= link_to image_tag("seattle.png", alt: "Seattle"), fill_location_path(city_country_location: "Seattle, United States") %>
            <%= link_to image_tag("newyork.png", alt: "New York"), fill_location_path(city_country_location: "New York, United States") %>
            <%= link_to image_tag("toronto.png", alt: "Toronto"), fill_location_path(city_country_location: "Toronto, Canada") %>
            <%= link_to image_tag("london.png", alt: "London"), fill_location_path(city_country_location: "London, United Kingdoms"), class: "seattle-icon" %>           
            <%= link_to image_tag("paris.png", alt: "Paris"), fill_location_path(city_country_location: "Paris, France") %>
         </div>
         <div class="row" style="height:150px" id="location-button">
           <br>
            <!-- TODO: make this a link or a popup -->
            <small id="light"> What about other cities? </small>
         </div>
         <div class="row" id="location-button">
            <%= link_to image_tag("facebook.png", alt: "Tinihost facebook page", class: "navlink", size: "50x50"), "https://www.facebook.com/TiniHost" %>   <strong>  </strong> <%= link_to image_tag("twitter.png", alt: "Tinihost twitter page", class: "navlink", size: "50x50"), "https://twitter.com/tinihost" %>           
         </div>                 
         </div>
      </div>
   </div>
</div>
<br/>
<div class="container">
   <div class="center">
      <div class="row" style="margin-left: 0px; padding: 40px 0px 50px 50px; background: #596E6E; border-radius: 6px">
         <div class="span9 aboutpage_dark">
      <%= render "shared/how_it_works" %>
      </end>
   </div>
</div>
<div id="footer" class="container">
   <div class="center hero-unit">
   </div>
</div>