<% provide(:title, 'home') %>
<div class = "center">
   <div class="homepage">      
      <div class="span11">
         <div class="row">       
            <h2> Where are you going?</h2>
         </div>    
         <div class="filler"></div>               
         <div class="row" id="location-button">
            <%= link_to image_tag("sanfran.png", alt: "San Francisco"), fill_location_path(city_country_location: "San Francisco, United States") %>
            <%= link_to image_tag("seattle.png", alt: "Seattle"), fill_location_path(city_country_location: "Seattle, United States") %>
            <%= link_to image_tag("newyork.png", alt: "New York"), fill_location_path(city_country_location: "New York, United States") %>
            <%= link_to image_tag("toronto.png", alt: "Toronto"), fill_location_path(city_country_location: "Toronto, Canada") %>
            <%= link_to image_tag("london.png", alt: "London"), fill_location_path(city_country_location: "London, United Kingdom"), class: "seattle-icon" %>           
            <%= link_to image_tag("paris.png", alt: "Paris"), fill_location_path(city_country_location: "Paris, France") %>
         </div>
         <div class="row" style="height:120px" id="location-button">
           <br>
            <!-- TODO: make this a link or a popup -->
            <%= link_to "What about other cities?", about_path(view: "faq", anchor: "limited_cities") %>
         </div>
         <div class="row" id="location-button">
            <%= link_to image_tag("facebook2.png", alt: "Tinihost facebook page", size: "100x100"), "https://www.facebook.com/TiniHost" %>
            <%= link_to image_tag("twitter2.png", alt: "Tinihost twitter page", size: "100x100"), "https://twitter.com/tinihost" %>           
         </div>                 
         </div>
      </div>
   </div>
</div>
<br/>
   <div class="container">
      
   <div class="center hero-unit sdf">
      <div class="aboutpage_dark">
         <%= render "shared/how_it_works" %>
      </div>     
   </div>
   </div>
<div class="container">
   <div class="center hero-unit">
   </div>
</div>
