<%= provide(:title, 'connecting travelers and local guides') %>

<% content_for (:head_tags) do%>
<script type="text/javascript">
  var _gaq = _gaq || [];
  _gaq.push(['_setAccount', 'UA-37125011-1']);
  _gaq.push(['_trackPageview']);

  (function() {
    var ga = document.createElement('script'); ga.type = 'text/javascript'; ga.async = true;
    ga.src = ('https:' == document.location.protocol ? 'https://ssl' : 'http://www') + '.google-analytics.com/ga.js';
    var s = document.getElementsByTagName('script')[0]; s.parentNode.insertBefore(ga, s);
  })();
</script>
<% end %>
<div class = "container">
   <div class="filler">
      
   </div>
   <div class="homepage">      
      <div class="span11" style="margin-left:40px">         
         <div class="row" id="location-button">
            <div class="span5" style=" padding-right:20px; border-right:1px #eee solid">       
               <h1> Travelers </h1><br/><br/>
               <strong>Where are you going?</strong><br/><br/>
               <div class="span5">
                  <br/><br/><br/>
                  <%= form_tag fill_location_path, method: 'get' do %>
                  <div id="personalform" style="margin-left:0px">
                     <%=render 'shared/country_city_select', :inline_search => true%>
                  <%= submit_tag "Find", :name => nil, :id=>"blue-button", :style=>"width: 70px" %><br/>
                  <%= link_to "What about other cities?", about_path(view: "faq", anchor: "limited_cities") %>           
                  </div>
                  <%end%>               
               </div>
            </div>
            <div class="span5" style="padding-left:10px;">
               <h1> Locals </h1><br/>
               <div style="text-align:left">
                  <strong> Become a tiniHost to make some friends, earn some money, or practice a new language. </strong>
               <br/><br>
               </div>
               <%= image_tag "collage_host.png", alt: "adventures collage", size: "250x100"%><br/> 
               <br/>
               <% if signed_in? %>
                  <%= button_to "Become Host!", becomehost_path, id:"pink-button" unless current_user.is_host? %>
               <% else %>
                  <%= button_to "Join tiniHost!", signin_path, id: "pink-button" %>
              <% end %>                     
            </div>
         </div>
         
   <br/><br/><br/>  
         <div class="row" id="location-button">
            <%= link_to image_tag("facebook.png", alt: "Tinihost facebook page", size: "100x100"), "https://www.facebook.com/tiniHost" %>
            <%= link_to image_tag("twitter.png", alt: "Tinihost twitter page", size: "100x100"), "https://twitter.com/tinihost" %>           
         </div>                 
         </div>
      </div>
   </div>
</div>
<br/>
<div class="container">    
   <div class="center hero-unit" style="border: 1px solid #ddd">
      <div class="aboutpage_dark offset1">
         <%= render "shared/how_it_works" %>
      </div>     
   </div>
</div>
<%=render "shared/footer" %>