<p> Hello <%= @host.firstname.capitalize %>, </p>

<p> You have a new meetup request from <%= @traveler.firstname.capitalize %> for <%= @appointment.date.strftime("%a, %b %d. %Y")%>.</p>

<% if @appointment.message? %>
<div class="span7">
   Message: <br/>
   <%= @appointment.message %>
</div>
<% end %>
<br/>
To view your meetup:

<p><%= link_to user_appointment_path(@traveler, @appointment, only_path: false), user_appointment_path(@traveler, @appointment, only_path: false) %> </p>
<br/>

tiniHost<br/>
<%= link_to "www.tinihost.com", "http://www.tinihost.com" %>
<br/><br/>
  <hr/>
  <p style="color:#666"> You are receiving this email because you are signed up as a host on tiniHost.com with this email address. Please disregard if you are not the intended recipient. </p>
