<p> Dear friend, </p>

<p> Your friend 
<%= "#{@recommender.firstname} #{@recommender.lastname}" %> at <%= @user.email %> wants to recommend: <p>
	
<%= link_to "#{@user.firstname}", user_url(@user, host: 'localhost:3000')%>

<p> From lokolit. Go check it out.
<% unless @note.empty? %>   
<%= "#{@recommender.firstname} says..." %>
<div id="name">
<%= "#{@note}"%>
<% end %>
</div>