<% content_for (:head_tags) do%>
<script type="text/javascript">
  var _gaq = _gaq || [];
  _gaq.push(['_setAccount', 'UA-37125011-1']);
  _gaq.push(['_trackPageview']);

  (function() {
    var ga = document.createElement('script'); ga.type = 'text/javascript'; ga.async = true;
    ga.src = ('https:' == document.location.protocol ? 'https://ssl' : 'http://www') + '.google-analytics.com/ga.js';
    var s = document.getElementsByTagName('script')[0]; s.parentNode.insertBefore(ga, s);
  })();
</script>
<% end %>
<% if @city && @country %>
   <% provide(:title, "travelers seeking hosts in #{@city.name}, #{@country.name}") %>
   <% provide(:description_tag, "travelers seeking hosts in #{@city.name}, #{@country.name}") %>
   
<% else %>
  <% provide(:title, "travelers seekings hosts") %>
  <% provide(:description_tag, "travelers seeking tiniHosts") %>
<% end %>
  
<div class="container">
   <%= render "corkboard_nav" %>
</div>

<% if params[:view] != "traveler" %>

<div class="container" id="white">
   <br/>
   <div class="span11"> 
      <div class="nav nav-tabs tab_link">
         <% if params[:view] != "traveler" %>
            <li class="active">
         <% else %>
           <li>
         <% end %>
         <%= link_to "Corkboard", board_path(view: "host")%></li>
      
         <% if signed_in? %>
            <% if params[:view] == "traveler" %>
               <li class="active"> 
            <% else %>
               <li>
            <% end %>
            <%= link_to "My posts", myposts_path(current_user, view:"traveler") %></li>
         <% end %>
      </div>

      <div class="row" style="">
         <div class="span8">
            <h3>
            <% if !params[:city_country_location].nil? %>
               <%= "Posts in #{@city.try(:name)}, #{@country.try(:name)} (#{@posts.count})"%>
            <% else %>
               <%= "All recent posts"%>
            <% end %>
            </h3>      
         </div>
      </div>
      <br/>
      <div class='row email'>    
         <% if @posts.empty? %>
         <hr>
            <% if @city.nil? %>
               Corkboard is empty.
            <% else %>
               Corkboard is empty for <%= "#{@city.try(:name)}, #{@country.try(:name)}" %>.
            <% end %>
         <% end %>
         <%= will_paginate @posts%>
            <%= render 'forumpost' %>
         <%= will_paginate @posts %>
      </div>    
   </div>
<% end %>
</div>
<div class="filler"></div>

