<% provide(:title, "Request a meetup") %>

<%= render "corkboard_nav" %>

<% if params[:view] != "traveler" %>


<div class="row">
   <div class="span8">
      <h3>
      <% if !params[:city_country_location].nil? %>
         <%= "Posts in #{@city.try(:name)}, #{@country.try(:name)} (#{@posts.count})"%>
      <% else %>
         <%= "All recent posts"%>
      <% end %></h3>      
   </div>
</div>
<div class="span10 email" style="margin-top:15px">
      <% if @posts.empty? %>
      <hr>
      Corkboard is empty for <%= "#{@city.try(:name)}, #{@country.try(:name)}" %>.
      <% end %>
      <%= will_paginate @posts%>
         <%= render 'forumpost' %>
      <%= will_paginate @posts %>
</div>
<% end %>

