Welcome to forum! <b>#TODO: insert commentary here<b>

<%= form_tag forum_path, method: 'get' do %>
   <%=render 'shared/country_city_select', :inline_search => true%>
<%= submit_tag "Search", :name => nil %>
<%end%>

<div>
<% if signed_in? %>
	<%= link_to "Post a request", new_forumpost_path %> |
	<%= link_to "My posts", myposts_path %>
<% else %>
	<%= link_to "sign in to post", signin_path %>
<%end%>
</div>

<% @posts.each do |p| %>
<div>
<%= link_to p.title, forumpost_path(p) %> responded times <%= p.responded_count %>
</div>
<%end%>
