<% provide(:title, "meetups") %>

<%= form_tag board_path, method: 'get' do %>
   <div id="personalform">
   <%=render 'shared/country_city_select', :inline_search => true%>
   <%= submit_tag "filter your location", :name => nil, :id=>"blue-button", :style=>"width: 145px" %>
   </div>
<%end%>
<div class="filler"></div>

<div class="row">
   <div class="span8">
      <h3>
      <% if !params[:city_country_location].nil? %>
         <%= "Requests in #{@city.try(:name)}, #{@country.try(:name)} (#{@posts.count})"%>
      <% else %>
         <%= "All recent posts"%>
      <% end %>
      </h3>
   </div>
   <div class="span4" style="text-align:right">
      <% if signed_in? %>
      <div>
         <%= link_to "Post a request", new_forumpost_path, id: "pink-button" %>
      </div>
      <% end %>
   </div>
</div>
<div class="span10 email" style="margin-top:15px">
      <% if @posts.empty? %>
      <hr>
      There are no requests at this time.
      <% end %>
      <%= will_paginate @posts%>
         <%= render 'forumpost' %>
      <%= will_paginate @posts %>
</div>

