<%= form_tag forum_path, method: 'get' do %>
   <div>
   <%=render 'shared/country_city_select', :inline_search => true%>
   <%= submit_tag "filter your location", :name => nil, :class=>"bnt" %>
   </div>
<%end%>
<div class="filler"></div>

<div class="row">
   <div class="span8">
      <h3>
      <% if !params[:city_country_location].nil? %>
         <%= "Posts in #{@city.try(:name)}, #{@country.try(:name)} (#{@posts.count})"%>
      <% else %>
         <%= "All recent posts"%>
      <% end %>
      </h3>
   </div>
   <div class="span4" style="text-align:right">
      <% if signed_in? %>
      <div style="background-color: green, padding:10px, color:white">
         <%= link_to "Post a request", new_forumpost_path, class: "btn" %>
      </div>
      <% end %>
   </div>
</div>
<div class="span10 email" style="margin-top:15px">
      <%= will_paginate @posts%>
         <%= render 'forumpost' %>
      <%= will_paginate @posts %>
</div>

