<%= render "corkboard_nav" %>
<br/>
<div style="text-align:right">
   <%= link_to "New post", new_forumpost_path, id: "pink-button" %>  
</div>
<div class="filler"></div>
<div class="span10 email" style="margin-top:15px">
      <% if @posts.empty? %>
         You have not posted anything on the corkbaord yet. Go go, post a new request. 
      <% end %>
      <%= will_paginate @posts%>
         <%= render 'forumpost' %>
      <%= will_paginate @posts %>
</div>