 <div class='filler'></div>
   <div class="row">
      <div class="span10" id="messageform">
         <%= form_for @post, do |f| %>
         <%= render 'shared/error_messages', :obj=>@post%>
         
         <div id="name">
            <%=render 'shared/country_city_select', :f=>f, :inline_search => false %>
         </div>
         <% if Time.now.month > 11 %>
            <% end_time = Time.now.year + 1 %>
         <% else %>
            <% end_time = Time.now.year %>
         <% end %>
         <div id="name">
            When do you want to meetup?
         </div>
         
         <div class="field">
            
            <%= f.date_select :date, {:start_year => Time.now.year, :end_year => end_time}, {:style=>"width:100px"}%>
         </div>
          <div class="field">
               <%= f.text_field :title, :placeholder=>"title...", :style=>"width:80%"%>
            </div>
         <div class="field">
            <%= f.text_area :content, :placeholder=>"What are you looking for?", :style=>"width:80%; height:150px"%>
         </div>	
         <div class="actions">
            <%= f.submit  "Post", class: "btn btn-primary" %>
         </div>
         <%end%>
      </div>
   </div>


