 <div class='filler'></div>
 <div class="span10">
    <div class="row">
       <%= image_tag find_display_imgurl(current_user.id, "thumb"), size: "40x40" %>	  
       <strong style="margin-left:10px"><%="Post a request"%></strong>
   </div>
   <div class='filler'></div>
   
   <div class="row" id="messageform">     
         <%= form_for @post, do |f| %>
         <%= render 'shared/error_messages', :obj=>@post%>
         
         <div id="personalform">
            <%=f.label :Where_are_you_going? %>
            <%=render 'shared/country_city_select', :f=>f, :inline_search => false %>
         </div>
         
         <div id="personalform">
            <%=f.label :When_do_you_want_to_meet_up? %>
            <%= f.text_field :date %>
         </div><br/>
          <div class="field" id="personalform">
               <%= f.text_field :title, :placeholder=>"title...", :style=>"width:80%"%>
            </div>
         <div class="field">
            <%= f.text_area :content, :placeholder=>"What are you looking for?", :style=>"width:80%; height:150px"%>
         </div>	
         <div class="actions">
            <%= f.submit  "Post", id: "blue-button" %>
         </div>
         <%end%>
      </div>
   </div>

</div>

