<div class='filler'></div>
<%= render "shared/your_header", id: current_user.id, text:"Post a request" %>
<br/>

<div class="container" id="white">
   
 <div class="span10 offset1"> 
    <br/>
   <div class="row">     
         <%= form_for @post, do |f| %>
         <%= render 'shared/error_messages', :obj=>@post%>
         
         <div id="personalform">
            <%=f.label :Where_are_you_going? %>
            <%=render 'shared/country_city_select', :f=>f, :inline_search => false %>
         </div>
         
         <div id="personalform">
            <%=f.label :When_do_you_want_to_meet_up? %>
            <%= f.text_field :date %>
         </div>
         
         <div id="personalform">
            <%= f.label :Are_you_willing_to_pay?%>
            <%= f.select :pay, Forumpost::WILL_PAY, {}, id: "short"%>
         </div>
         
         <div id="personalform">
            <small> If yes, how much are you willing to pay?</small><br/>
               <%= f.text_field :price, :placeholder=>"enter price" %>
               <%= f.select :currency, options_for_select(Hostprofile::CURRENCIES, selected: "usd"), :id => "currency" %>
         </div>
          <div class="field" id="personalform">
               <%= f.text_field :title, :placeholder=>"title...", :style=>"width:80%"%>
            </div>
         <div class="field">
            <%= f.text_area :content, :placeholder=>"What are you looking for?", :style=>"width:80%; height:150px"%>
         </div>	
         <div class="actions">
            <%= f.submit  "Post", id: "blue-button" %>
         </div>
         <%end%>
      </div>
   </div>
</div>

</div>

