<% provide(:title, params[:folder]) %>
   <%= render 'shared/mailbox_nav' %>
   <div class="row">
   	<div class="span1">
         <%= image_tag find_display_imgurl(@recipient.id, "thumb"), size: "50x50", :style=>"text-align: left" %>  	   
   	</div>
   	<div class="span6">
   	   <h3> <%= link_to @recipient.firstname.capitalize, user_path(@recipient) %> </h3>
   	</div>
   </div>
   
   <div class="filler"></div>
   <h3> <%= @msgthread.subject.capitalize %> </h3>
   
   
   <div class="span8" style="background-color:">    
   <div class = "row" style="margin-top: 15px">
      <div class="thread">
         <% @messages.each do |msg| %>
      	<li>
      	   <div class="span1" style="text-align: left" %>         	   
      	      <%= image_tag find_display_imgurl(msg.sender_id, "thumb"), size: "45x45", :style=>"text-align: left" %>	
      	   </div>
      	   <div class="span6">
      	     	<%= msg.body %> 
      	   </div>		
      	</li>
      	<% end %>
      </div>     
   </div>   
   <div class="filler"></div>
   	<div class="row">
   				<% @message = Message.new%>
   				<%= form_for([@recipient, @message]) do |f| %>
   				<div id="span8"> 				  
   				   <%= f.text_area :body, placeholder: "Reply...", :style => "width: 100%; height: 100px" %>
   				   <%= f.hidden_field :subject, value: "Re: #{@msgthread.subject}" %>
   					<%= f.hidden_field :thread_id, value: params[:id]%>
   				</div>
   				
   				   <%= f.submit "reply", class: "btn" %>
   				
   				<% end %>
   	 </div>
   </div>
</div>
