<% host = appointment.host.user %>
<% traveler = appointment.traveler %>
   <%= link_to user_appointment_path(current_user, appointment, fullview:true) do %>
      <div class="row host_info appt-block">
         <div class="row">            
            <div class="span2" >
               <p style="color: #B8DCFF"><%=" #{City.find_by_id(host.hostprofile.city_id).name}, #{Country.find_by_id(host.hostprofile.country_id).name}"%></p>
               
               <div class="row" style="margin-left: 0px">
                  <p id="white">Group size: <small style="color: #B8DCFF"><%= appointment.groupsize %></small></p>
               </div>
               <div class="row" style="margin-left: 0px">
                  <p id="white">Meetup date: <br/><small style="color: #B8DCFF"><%= appointment.date.strftime("%a, %b %d. %Y")%><br/><%= appointment.flexible == true ? "flexible": "" %></small></p>
               </div>
               <% if !appointment.time.empty? %>
               <div class="row" style="margin-left: 0px">
                  <p id="white">Meetup time: <br/><small style="color: #B8DCFF"><%= appointment.time.empty? ? "unspecified" : appointment.time %> </small></p>
               </div>
               <% end %>
            </div>
            
            <div class="span4" style="margin-left: 0px; margin-right:10px;">
               <div class="row" style="height: 150px; margin-left:0px">
               <% if is_appt_host?(appointment) %>
                   <strong> Meetup request from <%= "#{traveler.firstname.capitalize}" %> </strong>
               <% else %>
                   <strong> Meetup request for <%= "#{host.firstname.capitalize}" %> </strong>
               <% end %><br/>
               <p style="color:#FFD119"><%if appointment.exchange_type == "money"%>
                   <%= "Asking for $#{appointment.price}"%> <%= appointment.currency %>
               <% elsif appointment.exchange_type =="language practice" %>
                  <%= "Wants to practice #{appointment.language_practice.downcase}" unless appointment.language_practice.nil?%>
               <% else %>
                  Exchange: <%= appointment.exchange_type%>
               <% end %></p>
               <%= image_tag(find_display_imgurl(appointment.traveler_id, "thumb"), id: "profile-thumb") %>
               <%= image_tag(find_display_imgurl(host.id, "thumb"), id: "profile-thumb")%>	  
               <br/>                      
               <div style="margin-top:5px"> <%= truncate simple_format(appointment.message, style: "color:#eee"), length: 150 %> </div>
               </div>
               
            </div>  
            <div class="span2" style="background: blue; margin: 0px; padding: 0px; width: 170px">
                  <%= render 'status_tab', appointment: appointment, traveler: traveler, host: host %>
            </div>          
         </div>  
      </div>
      <% end %>
