<% profile = Hostprofile.find_by_id(appointment.host_id) %>
<% host = profile.user unless profile.nil? %>
<% traveler = User.find_by_id(appointment.traveler_id) %>
<%= link_to user_appointment_path(current_user, appointment, fullview:true) do %>
<div class="host_info booked-block" >
   <div class="row">
       <div class="span3">
          Meetup with
             <% if is_appt_host?(appointment) %> 
                <%= traveler.firstname.capitalize %>
             <% else %>
                <%= host.firstname.capitalize %>
             <% end %><br/>
          <%= image_tag(find_display_imgurl(appointment.traveler_id, "thumb"), id: "profile-thumb") %>
          <%= image_tag(find_display_imgurl(host.id, "thumb"), id: "profile-thumb")%><br/>
           
          <%= "#{City.find_by_id(host.hostprofile.city_id).name}, #{Country.find_by_id(host.hostprofile.country_id).name}"%><br/>
          <%= appointment.date.strftime("%a, %b %d.") %>
          <% if appointment.time %>
             <%= appointment.time.empty? ? "" : "#{appointment.time}" %>
          <% end %>
       </div>
       <div class="span1" style="margin-left:0px; margin-right:0px; text-align:right">
          <div class="row">
             <% if appointment.date - Date.today >= 2%>
               <div class="row">
                  <small>Booked</small>      
               </div>
               <div class="row edit_link">
                  <b>
                  <%= link_to user_appointment_cancel_appointment_path(current_user, appointment), confirm: "Are you sure you want to cancel the meetup?", id: "response" do%>
                     <i class="icon-remove" style="font-size:0.8em; color:red"></i>Cancel
                  <% end %>
                  </b>
               </div>
             <% elsif Date.today > appointment.date %>
                <% if is_appt_host?(appointment) %>   
                   <% user = traveler %>
                   <% title = "traveler" %>
                <% else %>
                   <% user = host %>
                   <% title = "host" %>
                <% end %>
                <div class="row">
                   <small>Happened</small>          
                </div>
                <div class="row edit_link">
                   <b><%= link_to user_appointment_complete_appointment_path(user, appointment, review: title), do %>
                    <i class="icon-pencil"></i>       
                    Review
                    <% end %></b>
                </div>
                
                <% else %>
                 <small>Booked </small>
             <% end %>
             <br/>
         </div>
       </div>
   </div>
      
</div>    
<% end %>      
