<div class="span10" id="messageform">
   <div class= "row">
      <div class="span10">
         <%= image_tag find_display_imgurl(@user.id, "thumb"), id: "profile-thumb" %>	  
          <strong> Meetup Request for <%= link_to "#{@user.firstname.capitalize}", user_path(@user)%> </strong>
      </div>
    
   </div><br/>
   <% if @exchange_type == "language practice" %>
       <p><i class="icon-info-sign"></i> Please make sure you speak <%= @profile.language_practice %>. <%= @user.firstname.capitalize %> is asking to practice <%= @profile.language_practice %> in exchange for host service.</p>
   <% elsif @exchange_type == "money" %>
       <p><i class="icon-info-sign"></i> Just a reminder that <%= @user.firstname.capitalize %> is asking for <%= "#{@profile.price}#{@profile.currency} in exchange for host service."%>
   <% end %>
   <%= simple_form_for ([@user, @appointment])  do |f| %>
      <div id="personalform">
         <%= f.input :date, :label=>"When do you want to meetup?", as: :datepicker%>
      </div>
      <div  id="personalform">
         <%= f.input :flexible, as: :select, label: "Are you flexible with your date?", :input_html=>{:checked => true},selected: "false", :input_html=>{id: "short"}   %>   
      </div>
      <div  id="personalform">
         <%= f.input :time, :collection => Appointment::TIME, :label=>"Approximate time of day you want to meeting at?", :prompt=>"select a time" %>   
      </div>
      <div id="personalform">
         <%= f.input :groupsize, label: "What is your group size?", :input_html=>{id: "short"} %>
      </div>
      <div id="clear_float personalform">
         <%= f.input :message, label: "Additional message", :as=>"text", :placeholder=>"max 400 characters..."%>
      </div>      
      <%= f.button :submit, "send request", :id=>"blue-button", :class=>"blue-button" %> 
   <% end %>
</div>


