<% provide(:title, "meetups") %>

<% status = @appointment.status %>
<% if is_appt_host?(@appointment) %>
    <% user = @traveler %>
 <% else %>
    <% user = @host %>
 <% end %>
   
<%= render "shared/history_nav" %> 

<div class="container" id="white">
   
<div class="span9 offset1">
   <div class="row" >
       <h3 style="border-bottom:1px solid #eee"><%=" #{City.find_by_id(@host.hostprofile.city_id).name}, #{Country.find_by_id(@host.hostprofile.country_id).name}"%></h3>
       <br/>
      <%= link_to image_tag(find_display_imgurl(@appointment.traveler_id, "thumb"), id: "profile-thumb"), user_path(@traveler) %>
      <%= link_to image_tag(find_display_imgurl(@host.id, "thumb"), id: "profile-thumb"), user_path(@host)%>
      <strong class="edit_link"> Meetup with <%= link_to "#{user.firstname.capitalize}", user_path(user)%>    
      </strong>
   </div>
   <div class="filler"></div>
    
   <div class="row host_info" style="background:#eee">
         <p><%if @appointment.exchange_type == "money"%>
             <b style="color:#CC7A00; font-size:15px"><%= "Asking for $#{@appointment.price}"%> <%= @appointment.currency %></b>
             <% if is_appt_traveler?(@appointment) && status == Status::AVAILABLE %>
                <br/><small id="light"> Please note that by booking the appointment, you are agreeing to pay <%="#{@host.firstname.capitalize}"%> the asked amount of <%= "#{@appointment.price}#{@appointment.currency}" %> for the meetup.</small>
             <% end %>
         <% elsif @appointment.exchange_type =="language practice" %>
            <b style="color:#CC7A00; font-size:15px"><%= "Wants to practice #{@appointment.language_practice}" unless @appointment.language_practice.nil?%></b>
            <% if is_appt_traveler?(@appointment) && status == Status::AVAILABLE %>
            <br/> <small id="light"> Please note that by booking the appointment, you are confirming that you speak <%= "#{@appointment.language_practice} which #{@host.firstname.capitalize}"%> is asking to practice.</small>
            <% end %>
         <% else %>
            <b style="color:#CC7A00; font-size:15px"> Exchange: <%= @appointment.exchange_type%> </b>
         <% end %></p><br/>
      <div class="span2" >
         <div class="row">
            <p><b>Group size: </b><%= @appointment.groupsize %></p>
         </div>
         <div class="row">
            <p><b>Meetup date: </b><br/><%= @appointment.date.strftime("%a, %b %d. %Y")%><br/><%= @appointment.flexible == true ? "flexible": "" %></p>
         </div>
         <% if @appointment.time %>
            <div class="row">
               <p><b> Meetup time: </b><br/><%= @appointment.time.empty? ? "unspecified" : @appointment.time %></p>
            </div>
          <% end %>
          <br/>
      </div>
      <div class="span4" style="margin-left: 10px; margin-right:10px">         
          <div ><p><b> Message: </b><br/> <%= simple_format(@appointment.message) %> </div>
      </div> </p>
      <div class="span2" >
         <div class="row" style="position:relative; top:-7px; width: 170px; left:50px">
            <%= render 'status_tab', appointment: @appointment, traveler: @traveler, host: @host %>
         </div>
      </div>          
   </div>  
</div>         
<div class="span9 offset1" style="color:white">    
   <div class="row host_info" style="background-color:#aaa" >
       <b id="message_icon" style="width:55px"><%= link_to "Message", new_user_message_path(user) %></b><%= user.firstname.capitalize %> to discuss more.
       <br/><br/>
       
          <!-- status message for host -->
        <% if is_appt_host?(@appointment) %>
           <% if status == Status::CHECK_SENT %>
               <p>If you respond available, <%= "#{@traveler.firstname.capitalize}" %> can choose to book the meetup and you will have until 2 days before the meetup to cancel.</p>         
           <% elsif status == Status::AVAILABLE || status == Status::CANCELED || status == Status::COMPLETED || status == Status::EXPIRED %>
              <p><%= "Waiting for #{@traveler.firstname.capitalize} to respond." %></p>
           <% elsif status == Status::REJECTED %>    
              <p> <%= "#{@traveler.firstname.capitalize} decided to not to book the meeting." %></p>
           <% elsif status == Status::NOT_AVAILABLE %>
              <p> You responded unavailable. Meeting request has been inactivated.</p>
           <% elsif status == Status::BOOKED && @appointment.happened? %>
              <p>Your meetup should have taken place. Now it's time to review your experience and complete the meetup. Once you submit a short review, your stats and those of your traveler will be updated accordingly. Big thanks for your feedback!</p>              
           <% elsif status == Status::BOOKED && @appointment.cancelable? %>              
              <p> Your meetup is now booked. Have a good time! Should you need to cancel the meetup, you have until 2 days before the meetup date to do so.</p>       
            <% elsif status == Status::BOOKED %>
               <p>Your meetup is booked! You can no longer cancel because a 2 day advance notice is required. </p>
            <% end %>          
          <!-- status message for traveler -->
         <% elsif is_appt_traveler?(@appointment) %>
            <% if status == Status::CHECK_SENT%>
              <p> Your request has been sent. <%="Once #{@host.firstname.capitalize} responds available, you can choose to book the meetup. If the host is unavailable, your meeting request will automatically be inactivated." %></p>        
            <% elsif status == Status::CANCELED || status == Status::COMPLETED || status == Status::REJECTED || status == Status::EXPIRED %>
              <small id="light"><%= @appointment.return_status_str(current_user.id) %> </small>
            <% elsif  status == Status::NOT_AVAILABLE %>
              <p> <%= "#{@host.firstname.capitalize} responded unavailable."%> Your meeting request is inactivated. </p>
            <% elsif status == Status::AVAILABLE %>
              <p> <%= "#{@host.firstname.capitalize}"%> is available! If you choose to book the meetup, you will have until 2 days before the meeting to cancel. If you choose not to book with  <%="#{@host.firstname.capitalize}"%>, this meeting request will automatically be inactivated. </p> 
              
             
              <!--TODO: take out equal sign -->
            <% elsif status == Status::BOOKED && @appointment.happened? %>
              <p> Your meetup should have taken place. Now it's time to review your experience and complete the meetup. Once you submit a short review, your stats and those of your host will be updated. Big thanks for your feedback! </p>          
            <% elsif status == Status::BOOKED && @appointment.cancelable? %>              
              <p> Your meetup is now booked. Have a good time! Should you need to cancel the meetup, you have until 2 days before the meetup date to do so.</p>      
            <% elsif status == Status::BOOKED %>
              <p>Your meetup is booked! You can no longer cancel because a 2 day advance notice is required.</p>
          <% end %>
       <% end %>
    </div>   
    <br/><br/> 
      
</div>    
</div>
      