<div class="span11 host_info" id="review" >
   <% reviewer = User.find(review.reviewer_id) %>   
   <span class="timestamp">
      <small> Posted by </small>   
      <%= link_to reviewer.firstname.capitalize, user_path(reviewer) %>
      on <%= review.created_at.strftime("%b %d, %Y")%> <br>
      <% if review.recommend %>  
        <%= image_tag "recommended.png", alt:"recommended", id: "stats-icon"  %> Recommended 
      <% else %>
        <%= image_tag "unrecommend.png", alt:"not recommended", id: "stats-icon"  %> Not recommended  
      <% end %>
      <br>
      <% if !review.score.nil? %>
   	  <% if review.score < 1 %>
   	     N/A
   	  <% else %>
   	     <%= render "shared/rating", :score => review.score %>        
   	  <% end %>
   	<% end %>
   </span> 
   <br>	
	<p> <%= simple_format(review.content, :style=>"color:#555") %> </p>
</div>