<%= form_for(@image, :html=>{:multipart=>true}) do |img| %>
<div> 
      <%if img.object.new_record? %>
      
         <div class="controls">
            <%= img.label :choose_a_picture, :class=>"control-label"%>
            <%= img.file_field :photo, :class=>"input-file" %>
         </div>
         <div class="field" >
            <%= img.label :enter_a_caption%>
            <%= img.text_field :caption %>
         </div>
      <%end%>
</div>
   <%= img.submit "upload", :class => "btn btn-primary" %>
<%end%>