<%= render "shared/history_nav" %>

<div class="container" id="white">
   
<div class="row">   
   <% if current_user?(@img.user) %>
   
   <div class="span8" style="background:#aaa; padding: 10px">
      <%= image_tag @img.photo.url(:original) %>
   </div>
   <div class="span3">
             <br/>
             <strong><i class="icon-trash" style="color:red"></i>
             <%= link_to "Delete", @img, :confirm=>"Are you sure you want to delete this picture?", :method => :delete %>
            <br/><br/>
            <i class="icon-user" style="color:green"></i> <%= link_to "Make profile picture", update_profile_pic_user_path(@img.user, img_id: @img.id) %></strong>         
   </div>
   <% else %>
     <div class="span10 offset1" style="text-align:center; background:#aaa; padding:10px 0px ">
        <%= image_tag @img.photo.url(:large) %>
     </div>
     <% end %>
</div>

</div>
<%= render "shared/footer" %>








