<!DOCTYPE html>
<html>
<head>
  <title> <%= default_title(yield(:title)) %> </title>
  <%= favicon_link_tag "hat-favicon.ico" %>
  <%= stylesheet_link_tag "application", :media => "all" %>
  <%= javascript_include_tag "application" %>  
  <%= csrf_meta_tags %>
  
</head>
<body>
   <div id="fb-root"></div>
   <script>(function(d, s, id) {
     var js, fjs = d.getElementsByTagName(s)[0];
     if (d.getElementById(id)) return;
     js = d.createElement(s); js.id = id;
     js.src = "//connect.facebook.net/en_US/all.js#xfbml=1";
     fjs.parentNode.insertBefore(js, fjs);
   }(document, 'script', 'facebook-jssdk'));</script>
   <header class="navbar navbar-fixed-top">
      <div class="navbar-inner">
         <div class="container">
            <div style="height:5px; padding-top:5px; padding-bottom:5px">
               <%= link_to image_tag("tinihost.png", alt: "tiniHost logo") , root_path%>         
            </div>
            <nav>
               <ul class="nav pull-right" style="margin-top:5px">
                  <li>
                     <div class="blocknav">
                        <%= link_to '/about' do %>
                        <div class="header-link-block">       
                           <b>Learn </b>
                           <p> how it works </p>
                        </div>               
                        <% end %>
                     </div>
                  </li>
                  <li>
                  <div class="blocknav">
                     <%= link_to hosts_path do %>
                        <div class="header-link-block">          
                           <b>Search</b>
                          <p> for hosts </p>
                        </div>       
                     <% end %>     
                  </div>  
                  </li>
                   <% if !signed_in? %>
                      <li>
                      <div class="blocknav">
                         <%= link_to signup_path do %>
                            <div class="header-link-block">        
                               <b>Join </b>
                               <p> tiniHost </p>
                            </div>
                           <% end %>
                       </div>
                       </li>
                     <% end %>
                  
                  <% if signed_in? %>
                     <%= render 'shared/signedin_header' %>
				      <% else %>
	                  <li><%= link_to "sign in ", signin_path %></li>
                  <% end %>
	            </ul>
	         </nav>
	       </div>
	   </div>	
	</header>
       
	   <div class="container">
	       <% flash.each do |key, value| %>
               <% if "#{key}" == "error" %>
                  <%= content_tag(:div, value, class: "alert alert-error") %>
               <% else %>
                  <%= content_tag(:div, value, class: "alert alert-success") %>
               <% end %>
            <% end %>
	   </div>   
      <%= yield %>
     			
</body>
</html>
