<!DOCTYPE html>
<html>
<head>
  <title> <%= default_title(yield(:title)) %> </title>
  <meta name="keywords" content= "<%= default_keywords(yield(:keyword_tags)) %>">
  <meta name="description" content= "<%= default_description(yield(:description_tag)) %>">
  <%= favicon_link_tag "hat-favicon2.ico" %>
  <%= stylesheet_link_tag "application", :media => "all" %>
  <%= javascript_include_tag "application" %>  
  <%= csrf_meta_tags %>
  <meta property="og:title" content="tiniHost" />
  <meta property="og:type" content="website" />
  <meta property="og:url" content="http://www.tinihost.com" />
  <meta property="og:image" content="https://fbcdn-profile-a.akamaihd.net/hprofile-ak-snc7/c18.18.221.221/s160x160/319070_286750878110982_1161685056_n.png" />
  <meta property="og:site_name" content="tiniHost" />
  <meta property="fb:admins" content="122610127" />
  <meta property="og:description" content="tiniHost connects travelers and locals for a more authentic, personal, and responsible travel experience."/>
  <%= yield(:head_tags) %>
</head>
<body>
   <div id="fb-root"></div><script>window.fbAsyncInit = function() {  
   FB.init({appId: '401017706644512', status: true, cookie: true,  
   xfbml: true});  
   };  
   (function() {  
   var e = document.createElement('script'); e.async = true;  
   e.src = document.location.protocol +  
   '//connect.facebook.net/en_US/all.js';  
   document.getElementById('fb-root').appendChild(e);  
   }());  
   </script>

   <div class="header">
      <div class="container">
         <div class="row">
            <div class="span3">
               <%= link_to image_tag("tinihost.png", alt: "tiniHost logo") , root_path%>         
            </div>
            <%= link_to '/about' do %>
            <div class="span1 nav">     
            
               <b>Learn </b><br/>
               how it works
               </div>
            <% end %>
            <%= link_to hosts_path do %>
            <div class="span1 nav">
                  <b>Search</b><br/>
                  for hosts
            </div>  
            <% end %>
               
         
            <%= link_to board_path(view: "host") do %>
            <div class="span1 nav" style=" border-right: 1px solid #777"> 
               <b>Corkboard </b>
               requests
            </div>    
            <% end %>     
            <% if signed_in? %>
               <%= render 'shared/signedin_header' %>
			   <% else %>
			      <div class="span5 header-menu"> 
              
                  <%= link_to "Sign in ", signin_path %>
               </div>
            <% end %>
	      </div>
	   </div>      
	</div>
       
	<div class="container">
     <% flash.each do |key, value| %>
         <% if "#{key}" == "error" %>
            <%= content_tag(:div, value, class: "alert alert-error") %>
         <% else %>
            <%= content_tag(:div, value, class: "alert alert-success") %>
         <% end %>
      <% end %>
   </div>   
   <%= yield %>
     			
</body>
</html>
